<div th:fragment="WA01WG01" xmlns:th="http://www.thymeleaf.org" class="d-flex" style="height: 100%">
	<div class="card card-body m-0">
		<div class="d-flex align-items-center">
			<div class="flex-fill">
				<h4 class="mb-0" th:text="${WA01WG01}">0</h4>
				Total Users
			</div>

			<i class="ph-users-three ph-2x opacity-75 me-3"></i>
		</div>
	</div>
</div>

<div th:fragment="WA01WG02" xmlns:th="http://www.thymeleaf.org" class="d-flex" style="height: 100%">
	<div class="card card-body m-0">
		<div class="d-flex align-items-center">
			<div class="flex-fill">
				<h4 class="mb-0" th:text="${WA01WG02}">0</h4>
				Active Users
			</div>

			<i class="ph-users-three ph-2x opacity-75 me-3"></i>
		</div>
	</div>
</div>

<div th:fragment="WA01WG03" xmlns:th="http://www.thymeleaf.org" class="d-flex" style="height: 100%">
	<div class="card card-body m-0">
		<div class="d-flex align-items-center">
			<i class="ph-users-three ph-2x opacity-75 me-3"></i>

			<div class="flex-fill text-end">
				<h4 class="mb-0" th:text="${WA01WG03}">0</h4>
				Today Loged-In Users
			</div>
		</div>
	</div>
</div>

<div th:fragment="WA01WG04" xmlns:th="http://www.thymeleaf.org" class="d-flex" style="height: 100%">
	<div class="card card-body m-0">
		<div class="d-flex align-items-center">
			<i class="ph-users-three ph-2x opacity-75 me-3"></i>

			<div class="flex-fill text-end">
				<h4 class="mb-0" th:text="${WA01WG04}">0</h4>
				Current Loged-In Users
			</div>
		</div>
	</div>
</div>

<div th:fragment="WA01WG05" xmlns:th="http://www.thymeleaf.org" class="d-flex" style="height: 100%">
	<div class="card card-body m-0">
		<h6>Profile Wise Users</h6>
		<div class="table-responsive">
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Profile</th>
						<th class="text-center">Total</th>
						<th class="text-center">Active</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${WA01WG05}">
						<td th:text="${row.profile}"></td>
						<td class="text-center" th:text="${row.total}"></td>
						<td class="text-center" th:text="${row.active}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>









<div th:fragment="WF01WG01" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Total Vouchers</h6>
			<div class="text-muted mb-3">Voucher Transaction</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>

<div th:fragment="WF01WG02" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Open Vouchers</h6>
			<div class="text-muted mb-3">Voucher Transaction</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>


<div th:fragment="WF01WG03" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Suspended Vouchers</h6>
			<div class="text-muted mb-3">Voucher Transaction</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>

<div th:fragment="WF01WG04" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Waiting for Posting</h6>
			<div class="text-muted mb-3">Voucher Transaction</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>


<div th:fragment="WF01WG05" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Posted Vouchers</h6>
			<div class="text-muted mb-3">Voucher Transaction</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>




















<div th:fragment="WP01WG01" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Purchase Order</h6>
			<div class="text-muted mb-3">Procurement Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>

<div th:fragment="WP01WG02" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">GRN & Direct Purchase</h6>
			<div class="text-muted mb-3">Procurement Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>


<div th:fragment="WP01WG03" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Purchase Return</h6>
			<div class="text-muted mb-3">Procurement Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>























<div th:fragment="WS01WG01" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Sales Order</h6>
			<div class="text-muted mb-3">Sales Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>

<div th:fragment="WS01WG02" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Sales Invoice</h6>
			<div class="text-muted mb-3">Sales Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>


<div th:fragment="WS01WG03" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Sales Return</h6>
			<div class="text-muted mb-3">Sales Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>

























<div th:fragment="WI01WG01" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Inventory Transfer</h6>
			<div class="text-muted mb-3">Inventory Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>

<div th:fragment="WI01WG02" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Batch Process</h6>
			<div class="text-muted mb-3">Inventory Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>
<div th:fragment="WI01WG03" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Inventory Issue</h6>
			<div class="text-muted mb-3">Inventory Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>
<div th:fragment="WI01WG04" xmlns:th="http://www.thymeleaf.org">
	<div class="card card-body text-center">
		<div class="mb-1">
			<h6 class="mb-0 mt-1">Inventory Adjustment</h6>
			<div class="text-muted mb-3">Inventory Activity</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="fs-sm text-muted">Today</div>
				<h5 class="mb-0" th:text="${today}">2,483</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Month</div>
				<h5 class="mb-0" th:text="${thisMonth}">1,257</h5>
			</div>

			<div class="col-4">
				<div class="fs-sm text-muted">This Year</div>
				<h5 class="mb-0" th:text="${thisYear}">8,472</h5>
			</div>
		</div>
	</div>
</div>