<!-- Inner content -->
<div class="content-inner" xmlns:th="http://www.thymeleaf.org">
	<input type="hidden" id="WA01" th:value="${WA01}"/>
	<input type="hidden" id="WF01" th:value="${WF01}"/>
	<input type="hidden" id="WF02" th:value="${WF02}"/>
	<input type="hidden" id="WF03" th:value="${WF03}"/>
	<input type="hidden" id="WF04" th:value="${WF04}"/>

	<!-- Page header -->
	<div class="page-header-container">
		<div th:remove="tag" th:include="commons :: page-header"></div>
	</div>
	<!-- /page header -->

	<!-- Content area -->
	<div class="content">

		<!-- WA01 Widgets Section -->
		<div class="col-md-12 mb-3" th:if="${WA01 eq 'Y'}">
			<!-- 1st Column -->
			<div class="d-flex justify-content-between align-items-stretch gap-2 flex-wrap">
				<div class="flex-grow-1 d-flex flex-column p-0 m-0 gap-2">
					<div class="flex-grow-1 d-flex gap-2">
						<div class="flex-grow-1 d-flex">
							<div class="WA01WG01-container flex-grow-1">
								<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WA01WG01"></div>
							</div>
						</div>
	
						<div class="flex-grow-1 d-flex">
							<div class="WA01WG02-container flex-grow-1">
								<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WA01WG02"></div>
							</div>
						</div>
					</div>

					<div class="flex-grow-1 d-flex gap-2">
						<div class="flex-grow-1 d-flex">
							<div class="WA01WG03-container flex-grow-1">
								<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WA01WG03"></div>
							</div>
						</div>
	
						<div class="flex-grow-1 d-flex">
							<div class="WA01WG04-container flex-grow-1">
								<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WA01WG04"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="border flex-grow-1 d-flex">
					<div class="WA01WG05-container flex-grow-1">
						<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WA01WG05"></div>
					</div>
				</div>
			</div>
		</div>



		<!-- WF01 Widgets Section -->
		<div class="row" th:if="${WF01 eq 'Y'}">
			<!-- 1st Column -->
			<div class="col-lg-12 col-xl-12">
				<div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
					<div class="flex-grow-1">
						<div class="WF01WG01-container">
							<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WF01WG01"></div>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="WF01WG02-container">
							<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WF01WG02"></div>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="WF01WG03-container">
							<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WF01WG03"></div>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="WF01WG04-container">
							<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WF01WG04"></div>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="WF01WG05-container">
							<div th:remove="tag" th:include="pages/DASH/DASH-fragments :: WF01WG05"></div>
						</div>
					</div>
				</div>
			</div>

		</div>



		<!-- WF02 Widgets Section -->
		<div class="row" th:if="${WF02 eq 'Y'}">
			<!-- 1st Column -->
			<div class="col-lg-12 col-xl-12">

				<div class="card">
					<div class="card-body">
						<form id="WF02WG01-form" class="form-validate-jquery" method="POST">

							<div class="row">

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label">Business Unit</label>
										<div class="input-group">
											<input 	type="text" 
													class="form-control searchsuggest2"
													id="xbuid"
													th:value="${WF02REQPARAM.xbuid ne null ? WF02REQPARAM.xbuid + ' - ' + WF02REQPARAM.businessUnitName : ''}">
											<input 	type="hidden" class="search-val" name="WF02WG01xbuid" th:value="${WF02REQPARAM.xbuid}"/>
											<span 	class="input-group-text btn-search" 
													th:attr="
													data-reloadurl='/search/table/LAD17/0?hint=', 
													data-reloadid='search-suggest-results-container', 
													data-fieldid='xbuid',
													data-mainscreen=false" 
													style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
											<span 	class="input-group-text btn-search-clear" 
													style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label required">Account</label>
										<div class="input-group">
											<input 	type="text" 
													class="form-control searchsuggest2"
													id="xacc"
													th:value="${WF02REQPARAM.xacc ne null ? WF02REQPARAM.xacc + ' - ' + WF02REQPARAM.accountName : ''}">
											<input 	type="hidden" class="search-val" name="WF02WG01xacc" th:value="${WF02REQPARAM.xacc}" required/>
											<span 	class="input-group-text btn-search" 
													th:attr="
													data-reloadurl='/search/table/LFA13/0?hint=', 
													data-reloadid='search-suggest-results-container', 
													data-fieldid='xacc',
													data-mainscreen=false" 
													style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
											<span 	class="input-group-text btn-search-clear" 
													style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label required">Last</label>
										<input type="number" class="form-control numeric-only" name="WF02WG01last" th:value="${WF02REQPARAM.last}" required="required">
									</div>
								</div>

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label required">Day Type</label>
										<select class="form-control select" id="type" name="WF02WG01type" th:value="${WF02REQPARAM.type}" required="required">
											<option value="DAYS" th:selected="${WF02REQPARAM.type eq 'DAYS'}">Days</option>
											<option value="MONTHS" th:selected="${WF02REQPARAM.type eq 'MONTHS'}">Months</option>
										</select>
									</div>
								</div>

								<div class="d-flex justify-content-between align-items-center">
									<div>
										<button type="submit" class="btn btn-primary btn-sm btn-WF02WG01-submit"><i class="ph ph-arrows-clockwise me-2"></i> Refresh</button>
									</div>
								</div>

							</div>

						</form>
					</div>

					<div class="card-footer" id="WF02WG01-chart" style="height: 500px;">

					</div>
				</div>

			</div>

		</div>




		<!-- WF03 Widgets Section -->
		<div class="row" th:if="${WF03 eq 'Y'}">
			<!-- 1st Column -->
			<div class="col-lg-12 col-xl-12">

				<div class="card">
					<div class="card-body">
						<form id="WF03WG01-form" class="form-validate-jquery" method="POST">

							<div class="row">

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label">Business Unit</label>
										<div class="input-group">
											<input 	type="text" 
													class="form-control searchsuggest2"
													id="xbuid"
													th:value="${WF03REQPARAM.xbuid ne null ? WF03REQPARAM.xbuid + ' - ' + WF03REQPARAM.businessUnitName : ''}">
											<input 	type="hidden" class="search-val" name="WF03WG01xbuid" th:value="${WF03REQPARAM.xbuid}"/>
											<span 	class="input-group-text btn-search" 
													th:attr="
													data-reloadurl='/search/table/LAD17/0?hint=', 
													data-reloadid='search-suggest-results-container', 
													data-fieldid='xbuid',
													data-mainscreen=false" 
													style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
											<span 	class="input-group-text btn-search-clear" 
													style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label required">Sub Account</label>
										<div class="input-group">
											<input 	type="text" 
													class="form-control searchsuggest2"
													id="xsub"
													th:value="${WF03REQPARAM.xsub ne null ? WF03REQPARAM.xsub + ' - ' + WF03REQPARAM.subAccountName : ''}">
											<input 	type="hidden" class="search-val" name="WF03WG01xsub" th:value="${WF03REQPARAM.xsub}" required/>
											<span 	class="input-group-text btn-search" 
													th:attr="
													data-reloadurl='/search/table/LFA14/0?hint=', 
													data-reloadid='search-suggest-results-container', 
													data-fieldid='xsub',
													data-mainscreen=false" 
													style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
											<span 	class="input-group-text btn-search-clear" 
													style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label required">Last</label>
										<input type="number" class="form-control numeric-only" name="WF03WG01last" th:value="${WF03REQPARAM.last}" required="required">
									</div>
								</div>

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label required">Day Type</label>
										<select class="form-control select" id="type" name="WF03WG01type" th:value="${WF03REQPARAM.type}" required="required">
											<option value="DAYS" th:selected="${WF03REQPARAM.type eq 'DAYS'}">Days</option>
											<option value="MONTHS" th:selected="${WF03REQPARAM.type eq 'MONTHS'}">Months</option>
										</select>
									</div>
								</div>

								<div class="d-flex justify-content-between align-items-center">
									<div>
										<button type="submit" class="btn btn-primary btn-sm btn-WF03WG01-submit"><i class="ph ph-arrows-clockwise me-2"></i> Refresh</button>
									</div>
								</div>

							</div>

						</form>
					</div>

					<div class="card-footer" id="WF03WG01-chart" style="height: 500px;">

					</div>
				</div>

			</div>

		</div>




		<!-- WF04 Widgets Section -->
		<div class="row" th:if="${WF04 eq 'Y'}">
			<!-- 1st Column -->
			<div class="col-lg-12 col-xl-12">

				<div class="card">
					<div class="card-body">
						<form id="WF04WG01-form" class="form-validate-jquery" method="POST">

							<div class="row">

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label">Business Unit</label>
										<div class="input-group">
											<input 	type="text" 
													class="form-control searchsuggest2"
													id="xbuid"
													th:value="${WF04REQPARAM.xbuid ne null ? WF04REQPARAM.xbuid + ' - ' + WF04REQPARAM.businessUnitName : ''}">
											<input 	type="hidden" class="search-val" name="WF04WG01xbuid" th:value="${WF04REQPARAM.xbuid}"/>
											<span 	class="input-group-text btn-search" 
													th:attr="
													data-reloadurl='/search/table/LAD17/0?hint=', 
													data-reloadid='search-suggest-results-container', 
													data-fieldid='xbuid',
													data-mainscreen=false" 
													style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
											<span 	class="input-group-text btn-search-clear" 
													style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="mb-3 form-group">
										<label class="form-label required">Account Type</label>
										<select class="form-control select" id="type" name="WF04WG01type" th:value="${WF04REQPARAM.type}" required="required">
											<option value="Asset" th:selected="${WF04REQPARAM.type eq 'Asset'}">Asset</option>
											<option value="Expenditure" th:selected="${WF04REQPARAM.type eq 'Expenditure'}">Expenditure</option>
											<option value="Income" th:selected="${WF04REQPARAM.type eq 'Income'}">Income</option>
											<option value="Liability" th:selected="${WF04REQPARAM.type eq 'Liability'}">Liability</option>
										</select>
									</div>
								</div>

								<div class="d-flex justify-content-between align-items-center">
									<div>
										<button type="submit" class="btn btn-primary btn-sm btn-WF04WG01-submit"><i class="ph ph-arrows-clockwise me-2"></i> Refresh</button>
									</div>
								</div>

							</div>

						</form>
					</div>

					<div class="card-footer" id="WF04WG01-chart" style="height: 500px;">

					</div>
				</div>

			</div>

		</div>

	</div>
	<!-- /content area -->

	<!-- Footer -->
	<div th:remove="tag" th:include="commons :: footer-section"></div>
	<!-- /footer -->

	<script type="text/javascript">
		function loadWidgets(widgetparent, widgetno, intervaltime){
			sectionReloadAjaxReq({
				id : widgetparent+ widgetno +'-container',
				url : '/DASH/'+ widgetparent +'/' + widgetno
			}, null, true);

			if(intervaltime != -1){
				setInterval(() => {
					sectionReloadAjaxReq({
						id : widgetparent+ widgetno +'-container',
						url : '/DASH/'+ widgetparent +'/' + widgetno
					}, null, true);
				}, intervaltime);
			}
		}

		$(document).ready(function(){
			kit.ui.init();

			var WA01 = $('#WA01').val();
			var WF01 = $('#WF01').val();
			var WF02 = $('#WF02').val();
			var WF03 = $('#WF03').val();
			var WF04 = $('#WF04').val();

			// Initial Load Calling
			if("Y" === WA01){
				loadWidgets('WA01', 'WG01', 5000);
				loadWidgets('WA01', 'WG02', 5000);
				loadWidgets('WA01', 'WG03', 5000);
				loadWidgets('WA01', 'WG04', 5000);
				loadWidgets('WA01', 'WG05', 5000);
			}

			if("Y" === WF01){
				loadWidgets('WF01', 'WG01', 5000);
				loadWidgets('WF01', 'WG02', 5000);
				loadWidgets('WF01', 'WG03', 5000);
				loadWidgets('WF01', 'WG04', 5000);
				loadWidgets('WF01', 'WG05', 5000);
			}

			if("Y" === WF02){
				loadWF02WG01();
				$('.btn-WF02WG01-submit').off('click').on('click', function(e){
					e.preventDefault();
					loadWF02WG01();
				});
			}

			if("Y" === WF03){
				loadWF03WG01();
				$('.btn-WF03WG01-submit').off('click').on('click', function(e){
					e.preventDefault();
					loadWF03WG01();
				});
			}

			if("Y" === WF04){
				loadWF04WG01();
				$('.btn-WF04WG01-submit').off('click').on('click', function(e){
					e.preventDefault();
					loadWF04WG01();
				});
			}

		})

		function loadWF02WG01(){
			var xbuid = $('input[name="WF02WG01xbuid"]').val();
			var xacc = $('input[name="WF02WG01xacc"]').val();
			var last = $('input[name="WF02WG01last"]').val()
			var type = $('select[name="WF02WG01type"]').val()

			if(xbuid == null || xbuid == '') xbuid = -1;

			if(xacc == null || xacc == ''){
				showMessage("error", "Account selection required");
				return;
			}

			if(last == null || last == ''){
				showMessage("error", "Last "+ type +" required");
				return;
			}

			if(last < 0) last = 0;
			if("DAYS" === type){
				if(last > 100) $('input[name="last"]').val("100");
			} else {
				if(last > 30) $('input[name="last"]').val("30");
			}

			$.ajax({
				url: getBasepath() + '/DASH/WF02/WG01?xbuid='+ xbuid +'&xacc='+ xacc +'&last='+ last +'&type=' + type,
				type: "GET",
				success: function (data) {
					barchartPrepareData = {};
					barchartPrepareData.title = 'Account Transaction';
					barchartPrepareData.containerid = 'WF02WG01-chart';
					barchartPrepareData.type = type;
					barchartPrepareData.xdata = [];
					barchartPrepareData.ydata = [];
					barchartPrepareData.yaxistitle = 'Amount';
					barchartPrepareData.xaxistitle = function(value, type){
						if(type === 'MONTHS') {
							const trimmedValue = value.trim();
							const yearMatch = trimmedValue.match(/Year\s*:\s*\d+/);
							const periodMatch = trimmedValue.match(/Period\s*:\s*\d+/);

							const year = yearMatch ? yearMatch[0].trim() : '';
							const period = periodMatch ? periodMatch[0].trim() : '';

							return `${period}\n${year}`;
						} else if (type === 'DAYS'){
							const date = new Date(value);
							const day = date.getDate();
							const month = date.toLocaleString('en-US', { month: 'short' });
							const year = date.getFullYear();
							return `${day} ${month}\n${year}`; // '\n' breaks line in ECharts
						} else {
							return value;
						}
					}

					$.each(data, function(i, d){
						barchartPrepareData.xdata.push(d.xdate);
						barchartPrepareData.ydata.push(d.amount);
					});

					prepareBarChart(barchartPrepareData);
				},
				error: function (jqXHR, status, errorThrown) {
					loadingMask2.hide();
					if (jqXHR.status === 401) {
						// Session is invalid, reload the url to go back to login page
						location.reload();
					} else {
						showMessage("error", jqXHR.responseJSON.message);
					}
				},
			});
		}

		function loadWF03WG01(){
			var xbuid = $('input[name="WF03WG01xbuid"]').val();
			var xsub = $('input[name="WF03WG01xsub"]').val();
			var last = $('input[name="WF03WG01last"]').val()
			var type = $('select[name="WF03WG01type"]').val()

			if(xbuid == null || xbuid == '') xbuid = -1;

			if(xsub == null || xsub == ''){
				showMessage("error", "Sub account selection required");
				return;
			}

			if(last == null || last == ''){
				showMessage("error", "Last "+ type +" required");
				return;
			}

			if(last < 0) last = 0;
			if("DAYS" === type){
				if(last > 100) $('input[name="last"]').val("100");
			} else {
				if(last > 30) $('input[name="last"]').val("30");
			}

			$.ajax({
				url: getBasepath() + '/DASH/WF03/WG01?xbuid='+ xbuid +'&xsub='+ xsub +'&last='+ last +'&type=' + type,
				type: "GET",
				success: function (data) {
					barchartPrepareData = {};
					barchartPrepareData.title = 'Sub Account Transaction';
					barchartPrepareData.containerid = 'WF03WG01-chart';
					barchartPrepareData.type = type;
					barchartPrepareData.xdata = [];
					barchartPrepareData.ydata = [];
					barchartPrepareData.yaxistitle = 'Amount';
					barchartPrepareData.xaxistitle = function(value, type){
						if(type === 'MONTHS') {
							const trimmedValue = value.trim();
							const yearMatch = trimmedValue.match(/Year\s*:\s*\d+/);
							const periodMatch = trimmedValue.match(/Period\s*:\s*\d+/);

							const year = yearMatch ? yearMatch[0].trim() : '';
							const period = periodMatch ? periodMatch[0].trim() : '';

							return `${period}\n${year}`;
						} else if (type === 'DAYS'){
							const date = new Date(value);
							const day = date.getDate();
							const month = date.toLocaleString('en-US', { month: 'short' });
							const year = date.getFullYear();
							return `${day} ${month}\n${year}`; // '\n' breaks line in ECharts
						} else {
							return value;
						}
					}

					$.each(data, function(i, d){
						barchartPrepareData.xdata.push(d.xdate);
						barchartPrepareData.ydata.push(d.amount);
					});

					prepareBarChart(barchartPrepareData);
				},
				error: function (jqXHR, status, errorThrown) {
					loadingMask2.hide();
					if (jqXHR.status === 401) {
						// Session is invalid, reload the url to go back to login page
						location.reload();
					} else {
						showMessage("error", jqXHR.responseJSON.message);
					}
				},
			});
		}

		function loadWF04WG01(){
			var xbuid = $('input[name="WF04WG01xbuid"]').val();
			var type = $('select[name="WF04WG01type"]').val()

			if(xbuid == null || xbuid == '') xbuid = -1;

			$.ajax({
				url: getBasepath() + '/DASH/WF04/WG01?xbuid='+ xbuid + '&type=' + type,
				type: "GET",
				success: function (data) {
					barchartPrepareData = {};
					barchartPrepareData.title = 'Accounts Current Balance';
					barchartPrepareData.containerid = 'WF04WG01-chart';
					barchartPrepareData.type = type;
					barchartPrepareData.xdata = [];
					barchartPrepareData.ydata = [];
					barchartPrepareData.yaxistitle = 'Amount';
					barchartPrepareData.xaxistitle = function(value, type){
						return value;
					}

					$.each(data, function(i, d){
						barchartPrepareData.xdata.push(d.accountName);
						barchartPrepareData.ydata.push(d.amount);
					});

					prepareBarChart(barchartPrepareData);
				},
				error: function (jqXHR, status, errorThrown) {
					loadingMask2.hide();
					if (jqXHR.status === 401) {
						// Session is invalid, reload the url to go back to login page
						location.reload();
					} else {
						showMessage("error", jqXHR.responseJSON.message);
					}
				},
			});
		}

		var barchartPrepareData = {};

		function prepareBarChart(barchartPrepareData){
			if (typeof echarts == 'undefined') {
				console.warn('Warning - echarts.min.js is not loaded.');
				return;
			}

			var dom = document.getElementById(barchartPrepareData.containerid);
			var myChart = echarts.init(dom, null, {
				renderer: 'canvas',
				useDirtyRect: false
			});
			var app = {};
			var option;

			const labelRight = {
				position: 'right'
			};

			option = {
				title: {
					text: barchartPrepareData.title
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: '0%',
					right: '0%',
					bottom: '3%',
					containLabel: true
				},
				xAxis: [
					{
						type: 'category',
						data: barchartPrepareData.xdata,
						axisTick: {
							alignWithLabel: true
						}, 
						axisLabel: {
							formatter: function (value) {
								return barchartPrepareData.xaxistitle(value, barchartPrepareData.type);
							},
							align: 'center'
						}
					}
				],
				yAxis: [
					{
						type: 'value',
					},
				],
				series: [
					{
						name: barchartPrepareData.yaxistitle,
						type: 'bar',
						barWidth: '60%',
						data: barchartPrepareData.ydata,
					}
				]
			}; // END OPTION

			if (option && typeof option === 'object') {
				myChart.setOption(option);
			}

			window.addEventListener('resize', myChart.resize);
		}
	</script>

</div>
<!-- /inner content -->