<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/SO21/store}" th:object="${searchParam}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">From Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="fromXdate" 
										id="fromXdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required="required"
										th:value="${searchParam.fromXdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(searchParam.fromXdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">To Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="toXdate" 
										id="toXdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required="required"
										th:value="${searchParam.toXdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(searchParam.toXdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Type</label>
							<select class="form-control select" th:field="*{xitemtype}">
								<option value="">-- Select --</option>
								<option value="Regular">Regular</option>
								<option value="Customized">Customized</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Sales Area</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xarea">
								<input 	type="hidden" class="search-val" name="xarea" th:value="*{xarea}" required="required"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD16/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xarea',
										data-mainscreen=false,
										data-mainreloadurl='/MD16?xarea=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Customer</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xcus">
								<input 	type="hidden" class="search-val" name="xcus" th:value="*{xcus}"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD14/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xcus',
										data-mainscreen=false,
										data-mainreloadurl='/MD14?xcus=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Store</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xwh">
								<input 	type="hidden" class="search-val" name="xwh" th:value="*{xwh}"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD11/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xwh',
										data-mainscreen=false,
										data-mainreloadurl='/MD11?xwh=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Order Officer</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xstaff">
								<input 	type="hidden" class="search-val" name="xstaff" th:value="*{xstaff}"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD12/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xstaff',
										data-mainscreen=false,
										data-mainreloadurl='/MD12?xstaff=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/SO21', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:attr="
									data-url=@{/report/print}, 
									data-rptcode='opdolist'" 
								type="button" 
								class="btn btn-light btn-sm btn-custom-print my-2 me-2"><i class="ph-printer me-2"></i> Print</button>
						<button type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-magnifying-glass me-2"></i> Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				$('.header-table-container').html("");

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();

				var targettedForm = $('form#mainform');
				if(!targettedForm.smkValidate()) return;

				sectionReloadAjaxPostReq({
					id : 'header-table-container',
					url : '/SO21/header-table'
				},{
					"fromXdate" : $('#fromXdate').val(),
					"toXdate" : $('#toXdate').val(),
					"xcus" : $('input[name="xcus"]').val(),
					"xstaff" : $('input[name="xstaff"]').val(),
					"xwh" : $('input[name="xwh"]').val(),
					"xarea" : $('input[name="xarea"]').val(),
					"xitemtype" : $('#xitemtype').val(),
				});
			});

			$('.btn-custom-print').off('click').on('click', function(e){
				e.preventDefault();

				var params = {};
				params.reportCode = $(this).data('rptcode');
				params.reportType = "PDF";
				params.param1 = $("#businessZid").val();
				params.param2 = $('#fromXdate').val();
				params.param3 = $('#toXdate').val();
				params.param4 = $('#xitemtype').val();
				params.param5 = $('input[name="xarea"]').val();
				params.param6 = $('input[name="xcus"]').val();
				params.param7 = $('input[name="xwh"]').val();
				params.param8 = $('input[name="xstaff"]').val();

				generateOnScreenReport($(this).data('url'), params);
			});
		})
	</script>
</div>


<div th:fragment="header-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<form class="search-param-form">
			<input type="hidden" id="fromDate" th:with="df=${'yyyy-MM-dd'}" th:value="${searchParam.fromXdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(searchParam.fromXdate, df)}"/>
			<input type="hidden" id="toDate"  th:with="df=${'yyyy-MM-dd'}" th:value="${searchParam.toXdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(searchParam.toXdate, df)}"/>
			<input type="hidden" id="customer" th:value="${searchParam.xcus}"/>
			<input type="hidden" id="store" th:value="${searchParam.xwh}"/>
			<input type="hidden" id="staff" th:value="${searchParam.xstaff}"/>
			<input type="hidden" id="area" th:value="${searchParam.xarea}"/>
			<input type="hidden" id="itemtype" th:value="${searchParam.xitemtype}"/>
		</form>

		<div class="table-responsive">
			<table class="table datatableraw" style="white-space: nowrap;">
				<thead>
					<tr>
						<th>Invoice</th>
						<th>Date</th>
						<th>Item Type</th>
						<th>Amount</th>
						<th>Store</th>
						<th>Customer</th>
						<th>Invoice Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fromDate = $("#fromDate").val();
			var toDate = $("#toDate").val();
			var customer = $("#customer").val();
			var store = $("#store").val();
			var staff = $("#staff").val();
			var area = $("#area").val();
			var itemtype = $("#itemtype").val();

			var dt = $('.datatableraw').DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"stateSave" : false,
				"order" : [1, 'desc'],
				"responsive": true,
				"lengthChange": true,
				"columnDefs": [
					{ "name": "xdornum",   "targets": 0 },
					{ "name": "xdate",  "targets": 1 },
					{ "name": "xitemtype",  "targets": 2 },
					{ "name": "xtotamt",  "targets": 3 },
					{ "name": "xwh",  "targets": 4 },
					{ "name": "xcus",  "targets": 5 },
					{ "name": "xtype",  "targets": 6 },
					{ "name": "xstatus",  "targets": 7 }
				],
				"ajax" : {
					url: getBasepath() + "/SO21/all",
					type: 'POST',
					data: function (d) {
						d.fromDate = fromDate;
						d.toDate = toDate;
						d.customer = customer;
						d.store = store;
						d.staff = staff;
						d.area = area;
						d.itemtype = itemtype;
					}
				},
				'preDrawCallback': function(settings) {
					loadingMask2.show();
				},
				'drawCallback': function(settings) {
					loadingMask2.hide();
				},
				"columns": [
					{ "data": "xdornum" },
					{ "data": "xdate" },
					{ "data": "xitemtype" },
					{ 
						"data": "xtotamt",
						"class": "text-end",
					},
					{ 
						"data": "store",
						render: function(data, type, row, meta) {
							if(data == null || data == '') return '';
							return row['xwh'] + ' - ' + data;
						}
					},
					{ 
						"data": "customer",
						render: function(data, type, row, meta) {
							if(data == null || data == '') return '';
							return row['xcus'] + ' - ' + data;
						}
					},
					{ "data": "xtype" },
					{ 
						"data": "xstatus" ,
						width: '550px',
						orderable: false,
						searchable: false,
						"class": "text-center",
						render: function(data, type, row, meta) {
							var actions = '<button data-url="/report/print", data-param2="'+row['xdoreqnum']+'", data-rptcode="opreq" type="button" class="btn btn-light btn-sm btn-print mx-1"><i class="ph-printer me-2"></i>Requistion</button>' +
							'<button data-url="/report/print", data-param2="'+row['xordernum']+'", data-rptcode="opord" type="button" class="btn btn-light btn-sm btn-print mx-1"><i class="ph-printer me-2"></i>Order</button>' +
							'<button data-url="/report/print", data-param2="'+row['xordernum']+'", data-rptcode="opordinv" type="button" class="btn btn-light btn-sm btn-print mx-1"><i class="ph-printer me-2"></i>Invoices</button>' +
							'<button data-url="/report/print", data-param2="'+row['xdornum']+'", data-rptcode="opdoinvdv" type="button" class="btn btn-light btn-sm btn-print mx-1"><i class="ph-printer me-2"></i>Invoice (D)</button>' +
							'<button data-url="/report/print", data-param2="'+row['xdornum']+'", data-rptcode="opdoinvsv" type="button" class="btn btn-light btn-sm btn-print mx-1"><i class="ph-printer me-2"></i>Invoice (S)</button>' +
							'<button data-url="/report/print", data-param2="'+row['xdornum']+'", data-rptcode="opdocln" type="button" class="btn btn-light btn-sm btn-print mx-1"><i class="ph-printer me-2"></i>Challan</button>';
							return actions;
						}
					}
				]
			});

			dt.draw();

			$('.datatableraw').on('click', '.btn-print', function(e){
				e.preventDefault();

				var params = {};
				params.reportCode = $(this).data('rptcode');
				params.reportType = "PDF";
				params.param1 = $("#businessZid").val();

				var i = 2;
				while(i <= 30){
					params['param' + i] = $(this).data('param' + i);
					i++;
				}

				generateOnScreenReport(getBasepath() + $(this).data('url'), params);
			});

		})
	</script>
</div>