<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/IM15/store}" th:object="${caitem}" method="POST" th:with="df=${'yyyy-MM-dd'}, dft=${'yyyy-MM-dd HH:mm:ss'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${not #strings.isEmpty(caitem.xitem)}" th:field="*{xitem}">
				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xitem"
										th:value="${caitem.xitem ne null ? caitem.xitem : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD1301/0?dependentparam='+ ${loggedInUser.salesOrg} +'&hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xitem',
										data-mainscreen=true,
										data-mainreloadurl='/IM15?xitem=',
										data-mainreloadid='main-form-container', 
										data-extrafieldcontroller='IM15'"
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(caitem.xitem)}">
						<div class="mb-3 form-group">
							<label class="form-label">Name</label>
							<input type="text" class="form-control" th:value="${caitem.xdesc}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(caitem.xitem)}">
						<div class="mb-3 form-group">
							<label class="form-label">Specification</label>
							<input type="text" class="form-control" th:value="${caitem.xspec}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(caitem.xitem)}">
						<div class="mb-3 form-group">
							<label class="form-label">Category</label>
							<input type="text" class="form-control" th:value="${caitem.xcatitem}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(caitem.xitem)}">
						<div class="mb-3 form-group">
							<label class="form-label">Subcategory</label>
							<input type="text" class="form-control" th:value="${caitem.xsubcat}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(caitem.xitem)}">
						<div class="mb-3 form-group">
							<label class="form-label">UOM</label>
							<input type="text" class="form-control" th:value="${caitem.xunit}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(caitem.xitem)}">
						<div class="mb-3 form-group">
							<label class="form-label">Sale Rate</label>
							<input type="text" class="form-control" th:value="${caitem.xrate}" disabled="disabled">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/IM15?xitem=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" th:if="${not #lists.isEmpty(stocks)}">
			<h6 class="py-sm-3 mb-sm-auto">Current Stock</h6>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Store Category</th>
							<th>Store Code</th>
							<th>Store Name</th>
							<th>Stock Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${stocks}">
							<td th:text="${x.xcatitem}"></td>
							<td th:text="${x.xwh}"></td>
							<td th:text="${x.store}"></td>
							<td th:text="${x.xqty}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				kit.ui.init();

				$('.btn-reset').off('click').on('click', function(e){
					e.preventDefault();
	
					sectionReloadAjaxReq({
						id : $(this).data('reloadid'),
						url : $(this).data('reloadurl')
					});

				});

			})
		</script>
	</div>
</div>