server: 
  servlet: 
    context-path: /aspi/
    session: 
      persistent: true
      cookie.name: JSESSIONID_ASPI
  port: 8081
spring:
  mvc:
    async:
      request-timeout: -1
  servlet: 
    multipart: 
        max-file-size: 5MB
  profiles: 
    active: prod
  application:
    name: aspi
  thymeleaf:
    cache: false
  banner:
    location: banner.txt
  jackson: 
    serialization:
      FAIL_ON_EMPTY_BEANS: false

socket: 
  server: 
    conurl: ws://192.168.9.149:2023/websocket-server
    subscribe: /topic/messages/
    sendurl: /app/process-message/

client: 
  name: ASPI
  interval: 10000
  service: 
    names: SQLSERVERAGENT

javax: 
  xml: 
    XMLConstants: 
      feature: 
        secure-processing: true
