<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/MD13/store}" th:object="${caitem}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${not #strings.isEmpty(caitem.xitem)}" th:field="*{xitem}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xitem"
										th:value="${caitem.xitem ne null ? caitem.xitem : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD13/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xitem',
										data-mainscreen=true,
										data-mainreloadurl='/MD13?xitem=',
										data-mainreloadid='main-form-container',
										data-detailreloadurl='/MD13/detail-table?xorg=RESET&xitem=',
										data-detailreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Name</label>
							<input type="text" class="form-control" th:field="*{xdesc}" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Group</label>
							<select class="form-control select" th:field="*{xgitem}" required="required">
								<option value="">-- Select --</option>
								<option th:each="cat : ${itemgroups}" th:value="${cat.xcode}" th:text="${cat.xcode}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Category</label>
							<select class="form-control select" th:field="*{xcatitem}" required="required">
								<option value="">-- Select --</option>
								<option th:each="cat : ${itemcategories}" th:value="${cat.xcode}" th:text="${cat.xcode}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Sub Category</label>
							<select class="form-control select" th:field="*{xsubcat}">
								<option value="">-- Select --</option>
								<option th:each="cat : ${itemsubcategories}" th:value="${cat.xcode}" th:text="${cat.xcode}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Unit of Measurement</label>
							<select class="form-control select" th:field="*{xunit}" required="required">
								<option value="">-- Select --</option>
								<option th:each="u : ${units}" th:value="${u.xcode}" th:text="${u.xcode}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Consumption Type</label>
							<select class="form-control select" th:field="*{xctype}" required="required" data-minimum-results-for-search="Infinity">
								<option value="Weighted Average">Weighted Average</option>
								<option value="LIFO">LIFO</option>
								<option value="FIFO">FIFO</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Packaging Info</label>
							<input type="text" class="form-control" th:field="*{xpack}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Default Cost</label>
							<input type="number" class="form-control numeric-only" th:field="*{xcost}" required="required" min="0">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Sale Rate</label>
							<input type="number" class="form-control numeric-only" th:field="*{xrate}" required="required" min="0">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Specification</label>
							<textarea rows="1" cols="" class="form-control" th:field="*{xspec}"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Safety Stock</label>
							<input type="number" class="form-control numeric-only" th:field="*{xminqty}" required="required" min="0">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Old Code</label>
							<input type="text" class="form-control" th:field="*{xcodeold}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD13?xitem=RESET', data-reloadid='main-form-container', data-detailreloadurl='/MD13/detail-table?xitem=RESET&xorg=RESET', data-detailreloadid='detail-table-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${not #strings.isEmpty(caitem.xitem)}" th:attr="data-url=@{/MD13?xitem=} + ${caitem.xitem}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${not #strings.isEmpty(caitem.xitem)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${#strings.isEmpty(caitem.xitem)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" th:if="${caitem.xitem ne null}">
			<h6 class="py-sm-3 mb-sm-auto">Documents</h6>
			<form id="documentform" class="form-validate-jquery mb-3" th:action="@{/AD21/upload}" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="screenId" value="MD13"/>
				<input type="hidden" name="transactionId" th:value="${caitem.xitem}"/>
				<input type="hidden" name="mainreloadid" value="main-form-container"/>
				<input type="hidden" name="mainreloadurl" value="/MD13?xitem="/>
				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Title</label>
							<input type="text" class="form-control" name="title">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Description</label>
							<textarea rows="1" cols="" class="form-control" name="description"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mb-3">
							<label class="form-label">File</label>
							<input type="file" name="file" id="fileuploader" class="form-control" th:attr="accept=${loggedInZbusiness.xdoctypes}">
							<!-- <div class="form-text text-muted">Accepted: png, jpg. Max file size 2Mb</div> -->
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="submit" class="btn btn-primary btn-sm btn-doc-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>

			<div class="table-responsive" th:if="${not #lists.isEmpty(documents)}">
				<table class="table">
					<thead>
						<tr>
							<th>
								Action
							</th>
							<th>Title</th>
							<th>Description</th>
							<th>File</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${documents}">
							<td>
								<a th:href="@{/AD21/download/} + ${x.xdocid}" class="btn btn-primary btn-sm btn-doc-download" target="_blank"><i class="ph-download-simple"></i></a>
								<button th:if="${caitem.xitem ne null}" 
										th:attr="
											data-url=@{/AD21/delete/} + ${x.xdocid}, 
											data-mainreloadid='main-form-container',
											data-mainreloadurl='/MD13?xitem='" 
										type="button" 
										class="btn btn-danger btn-sm btn-doc-delete">
									<i class="ph-trash"></i>
								</button>
							</td>
							<td th:text="${x.xtitle}"></td>
							<td th:text="${x.xdesc}"></td>
							<td>
								<i class="ph-file-dotted me-3"></i>
								<span th:text="${x.xnameold}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('.btn-docupload').off('click').on('click', function(e){
				e.preventDefault();
				$('#docupload').trigger('click');
			});

			$('.btn-doc-submit').off('click').on('click', function(e){
				e.preventDefault();
				
				var files = $('#fileuploader').get(0).files;
				if(files.length == 0){
					showMessage('error', "File selection required");
					return;
				}

				submitMainForm(null, $('form#documentform'));
			});

			$('.btn-doc-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}

				var data = {
					'mainreloadid' : $(this).data("mainreloadid"),
					'mainreloadurl' : $(this).data("mainreloadurl")
				}
				deleteRequest($(this).data('url'), data);
			});
		})
	</script>
</div>


<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${accessDetail}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto">Organization Access Details</h6>
		</div>

		<div class="card-body">
			<form id="detailform" class="form-validate-jquery" th:action="@{/MD13/detail/store}" th:object="${accessDetail}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" name="submitFor" th:value="*{submitFor}"/>
				<input type="hidden" name="xitem" th:value="*{xitem}">
				<input type="hidden" name="xorg" th:value="*{xorg}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Organization Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xorg"
										th:value="${accessDetail.xorg ne null ? accessDetail.xorg : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD17/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xorg',
										data-mainscreen=true,
										data-mainreloadurl='/MD13/detail-table?xitem='+ ${accessDetail.xitem} +'&xorg=',
										data-mainreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Organization Name</label>
							<input type="text" class="form-control" th:value="*{orgName}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="zactive">Is Active?</label>
							<input type="checkbox" id="zactive" th:field="*{zactive}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD13/detail-table?xitem='+ ${accessDetail.xitem} +'&xorg=RESET', data-reloadid='detail-table-container'" class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button th:if="${accessDetail.submitFor ne T(com.zayaanit.enums.SubmitFor).INSERT}" th:attr="data-url=@{/MD13/detail-table?xitem=} + ${accessDetail.xitem} + '&xorg=' + ${accessDetail.xorg}" type="button" class="btn btn-danger btn-sm btn-detail-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${accessDetail.submitFor ne T(com.zayaanit.enums.SubmitFor).INSERT}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${accessDetail.submitFor eq T(com.zayaanit.enums.SubmitFor).INSERT}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(detailList)}">
			<table class="table">
				<thead>
					<tr>
						<th>Organization</th>
						<th>Organization Type</th>
						<th>Is Active?</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${detailList}">
						<td>
							<a class="detail-dataindex" th:attr="data-reloadid='detail-table-container', data-reloadurl='/MD13/detail-table?xitem=' + ${x.xitem} + '&xorg=' + ${x.xorg}" th:href="@{/MD13/detail-table?xitem=} + ${x.xitem} + '&xorg=' + ${x.xorg}" th:text="${x.xorg + ' - ' + x.orgName}"></a>
						</td>
						<td th:text="${x.orgType}"></td>
						<td th:text="${x.zactive ne null and x.zactive eq true ? 'Y' : 'N'}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>