<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:if="${not #strings.isEmpty(xwhs.xwh)}" class="card-header d-sm-flex align-items-sm-center py-sm-0">

		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/MD11/store}" th:object="${xwhs}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${not #strings.isEmpty(xwhs.xwh)}" th:field="*{xwh}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Store Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xwh"
										th:value="${xwhs.xwh != null ? xwhs.xwh : ''}"
										th:disabled="${xwhs.xwh != null}"
										th:required="${xwhs.xwh eq null}">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD11/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xwh',
										data-mainscreen=true,
										data-mainreloadurl='/MD11?xwh=',
										data-mainreloadid='main-form-container'"
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Store Name</label>
							<input type="text" class="form-control" th:field="*{xname}" required="required">
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Store Location</label>
							<input type="text" class="form-control" th:field="*{xlocation}">
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Store Category</label>
							<select class="form-control select" th:field="*{xwhcat}" required="required">
								<option value="">-- Select --</option>
								<option th:each="cat : ${storeCategories}" th:value="${cat.xcode}" th:text="${cat.xcode}"></option>
							</select>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD11?xwh=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${not #strings.isEmpty(xwhs.xwh)}" th:attr="data-url=@{/MD11?xwh=} + ${xwhs.xwh}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${not #strings.isEmpty(xwhs.xwh)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${#strings.isEmpty(xwhs.xwh)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
		})
	</script>
</div>
