<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:if="${not #strings.isEmpty(arhed.xtrnnum)}" class="card-header d-sm-flex align-items-sm-center p-0">
			<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Open'}" th:attr="data-url=@{/FA31/apply?xtrnnum=} + ${arhed.xtrnnum}" type="button" class="btn btn-primary btn-sm btn-apply my-2 ms-3"><i class="ph-check me-2"></i> Apply</button>

			<input 	th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Open'}"
					type="file" 
					name="file" 
					id="docupload" 
					style="display:none" 
					th:attr="
						accept=${loggedInZbusiness.xdoctypes}, 
						data-screenid='FA31', 
						data-transactionid=${arhed.xtrnnum},
						data-mainreloadid='main-form-container',
						data-mainreloadurl='/FA31?xtrnnum='"/>
			<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Open'}"  
					type="button" 
					class="btn btn-light btn-sm btn-docupload my-2 ms-3">
					<i class="ph-file-doc me-2"></i> 
				Upload Document
			</button>

			<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and (arhed.xstatus eq 'Applied' or arhed.xstatus eq 'Confirmed')}" th:attr="data-url=@{/report/print}, data-param2=${arhed.xtrnnum}, data-rptcode='armr'" type="button" class="btn btn-light btn-sm btn-print my-2 ms-3"><i class="ph-printer me-2"></i> Print</button>
		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/FA31/store}" th:object="${arhed}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xscreen}"/>
				<input type="hidden" th:if="${not #strings.isEmpty(arhed.xtrnnum)}" th:field="*{xtrnnum}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Receipt No.</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xtrnnum"
										th:value="${arhed.xtrnnum ne null ? arhed.xtrnnum : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LFA31/1?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xtrnnum',
										data-mainscreen=true,
										data-mainreloadurl='/FA31?xtrnnum=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Collection Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="xdate" 
										id="xdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required="required"
										th:value="${arhed.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(arhed.xdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="xcus-field-container">
							<div th:remove="tag" th:include="pages/FA31/FA31-fragments :: xcus-field"></div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="xorg-field-container">
							<div th:remove="tag" th:include="pages/FA31/FA31-fragments :: xorg-field"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="xmadd-field-container">
							<div th:remove="tag" th:include="pages/FA31/FA31-fragments :: xmadd-field"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Deposit Bank</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xbank"
										th:value="${arhed.xbank != null ? arhed.xbank + ' - ' + arhed.bank : ''}">
								<input 	type="hidden" class="search-val" name="xbank" th:value="*{xbank}" required="required"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD15/1?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xbank',
										data-mainscreen=false,
										data-mainreloadurl='/MD16?xarea=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Receipt Amount</label>
							<input type="text" class="form-control numeric-only" th:field="*{xprime}" min="0" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Deposit Branch</label>
							<textarea rows="1" cols="" class="form-control" th:field="*{xbranch}"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Deposit Type</label>
							<select class="form-control select" th:field="*{xtypeobj}" required="required">
								<option th:each="d : ${depositTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Deposit Slip No</label>
							<input type="text" class="form-control" th:field="*{xref}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Note</label>
							<textarea rows="1" cols="" class="form-control" th:field="*{xnote}"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Status</label>
							<input type="text" class="form-control" th:value="${arhed.xstatus}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Dismissed'}">
						<div class="mb-3 form-group">
							<label class="form-label">Reason</label>
							<textarea rows="1" cols="" class="form-control" th:field="*{xreason}" disabled="disabled"></textarea>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/FA31?xtrnnum=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Open'}" th:attr="data-url=@{/FA31?xtrnnum=} + ${arhed.xtrnnum}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Open'}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${#strings.isEmpty(arhed.xtrnnum)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" th:if="${not #lists.isEmpty(documents)}">
			<h6 class="py-sm-3 mb-sm-auto">Documents</h6>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Action</th>
							<th>File</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${documents}">
							<td>
								<a th:href="@{/AD21/download/} + ${x.xdocid}" class="btn btn-primary btn-sm btn-doc-download" target="_blank"><i class="ph-download-simple"></i></a>
								<button th:if="${arhed.xtrnnum ne null and arhed.xstatus eq 'Open'}" 
										th:attr="
											data-transactionid=${arhed.xtrnnum},
											data-url=@{/AD21/delete/} + ${x.xdocid}, 
											data-mainreloadid='main-form-container',
											data-mainreloadurl='/FA31?xtrnnum='" 
										type="button" 
										class="btn btn-danger btn-sm btn-doc-delete">
									<i class="ph-trash"></i>
								</button>
							</td>
							<td>
								<i class="ph-file-dotted me-3"></i>
								<span th:text="${x.xnameold}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="customerSearchResultModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Search Results</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
	
					<div class="modal-body">
						<div class="customer-search-results-container"></div>
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('.btn-doc-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}

				var data = {
					'mainreloadid' : $(this).data("mainreloadid"),
					'mainreloadurl' : $(this).data("mainreloadurl")
				}
				var deleteUrl = $(this).data('url');

				loadingMask2.show();
				$.ajax({
					type : "GET",
					url : getBasepath() + "/FA31/statuscheck?xtrnnum=" + $(this).data("transactionid"),
					success : function(rdata) {
						loadingMask2.hide();

						if(rdata == null || "Open" != rdata.xstatus){
							showMessage("error", "Status not open");
							return;
						} else {
							deleteRequest(deleteUrl, data);
						}
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});

			$('.btn-apply').off('click').on('click', function(e){
				e.preventDefault();
				actionPostRequest($(this).data('url'));
			});

			$('.btn-docupload').off('click').on('click', function(e){
				e.preventDefault();
				$('#docupload').trigger('click');
			});

			$("input#docupload").off('change').on("change", function(e){
				var files = $(this).get(0).files;
				if (files.length == 0) return;

				var sdata = new FormData();
				sdata.append("file", files[0]);
				sdata.append("screenId", $(this).data("screenid"));
				sdata.append("transactionId", $(this).data("transactionid"));
				sdata.append("mainreloadid", $(this).data("mainreloadid"));
				sdata.append("mainreloadurl", $(this).data("mainreloadurl"));

				// Validate arhed status first using ajax call
				loadingMask2.show();
				$.ajax({
					type : "GET",
					url : getBasepath() + "/FA31/statuscheck?xtrnnum=" + $(this).data("transactionid"),
					success : function(rdata) {
						loadingMask2.hide();

						if(rdata == null || "Open" != rdata.xstatus){
							showMessage("error", "Status not open");
							return;
						} else {
							loadingMask2.show();

							$.ajax({
								type : "POST",
								url : getBasepath() + "/AD21/upload",
								contentType : false,
								processData : false, 
								data : sdata,
								success : function(data) {
									loadingMask2.hide();
									$("input#docupload").val("");
									if(data.status == 'SUCCESS'){
										if(data.displayMessage == true) showMessage(data.status.toLowerCase(), data.message);

										if(data.triggermodalurl){
											modalLoader(getBasepath() + data.triggermodalurl, data.modalid);
										} else {
											if(data.reloadsections != undefined && data.reloadsections.length > 0){
												$.each(data.reloadsections, function (ind, section) {
													if(section.postData.length > 0){
														var data = {};
														$.each(section.postData, function(pi, pdata){
															data[pdata.key] = pdata.value;
														})
														sectionReloadAjaxPostReq(section, data);
													} else {
														sectionReloadAjaxReq(section);
													}
												});
											} else if(data.reloadurl){
												doSectionReloadWithNewData(data);
											} else if(data.redirecturl){
												setTimeout(() => {
													window.location.replace(getBasepath() + data.redirecturl);
												}, 1000);
											}
										}
									} else {
										if(data.displayErrorDetailModal){
											$('#errorDetailModal').modal('show');

											sectionReloadAjaxReq({
												id : data.reloadelementid,
												url : data.reloadurl,
											});
										}

										showMessage(data.status.toLowerCase(), data.message);
									}
								},
								error : function(jqXHR, status, errorThrown){
									showMessage(status, "Something went wrong .... ");
									loadingMask2.hide();
								}
							});
						}
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});

			})
		})
	</script>
</div>

<div th:fragment="xcus-field" xmlns:th="http://www.thymeleaf.org">

	<input type="hidden" name="xcus" th:value="${arhed.xcus}"/>
	<div class="mb-3 form-group">
		<label class="form-label">Customer</label>
		<div class="input-group">
			<input 	type="text" 
					class="form-control searchsuggest2"
					id="xcus"
					required="required"
					th:value="${arhed.xcus != null ? arhed.xcus + ' - ' + arhed.customer : ''}">
			<span 	class="input-group-text btn-search" 
					th:attr="
					data-reloadurl='/search/table/LMD14/3?hint=', 
					data-reloadid='search-suggest-results-container', 
					data-fieldid='xcus',
					data-mainscreen=true,
					data-mainreloadurl='/FA31/xcusfield?xcus=',
					data-mainreloadid='xcus-field-container',
					data-extrafieldcontroller='FA31'" 
					style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();
		});
	</script>
</div>

<div th:fragment="xorg-field" xmlns:th="http://www.thymeleaf.org">
	<div class="mb-3 form-group">
		<label class="form-label">Receive From</label>
		<input type="text" class="form-control" name="xorg" th:field="${arhed.xorg}" required="required">
	</div>
</div>

<div th:fragment="xmadd-field" xmlns:th="http://www.thymeleaf.org">
	<div class="mb-3 form-group">
		<label class="form-label">Billing Address</label>
		<textarea rows="1" cols="" class="form-control" name="xmadd" th:field="${arhed.xmadd}" required="required"></textarea>
	</div>
</div>