<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-header d-sm-flex align-items-sm-center p-0"></div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/FA15/store}" th:object="${acheader}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${acheader.xvoucher ne null}" th:field="*{xvoucher}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Voucher</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xvoucher"
										th:value="${acheader.xvoucher ne null ? acheader.xvoucher : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LFA15/1?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xvoucher',
										data-mainscreen=true,
										data-mainreloadurl='/FA15?xvoucher=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Voucher Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="xdate" 
										id="xdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required="required"
										th:value="${acheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(acheader.xdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Business Unit</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xbuid"
										th:value="${acheader.xbuid != null ? acheader.xbuid + ' - ' + acheader.businessUnitName : ''}">
								<input 	type="hidden" class="search-val" name="xbuid" th:value="*{xbuid}"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LAD17/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xbuid',
										data-mainscreen=false" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Voucher Type</label>
							<select class="form-control select" th:field="*{xtype}" required="required">
								<option value="">-- Select --</option>
								<option value="Journal Voucher">Journal Voucher</option>
								<option th:each="vt : ${voucherTypes}" value="${vt.xcode}" th:text="${vt.xdesc}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Reference</label>
							<input type="text" class="form-control" th:field="*{xref}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Narration</label>
							<input type="text" class="form-control" th:field="*{xnote}">
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Year</label>
							<input type="text" class="form-control" th:value="*{xyear}">
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Period</label>
							<input type="text" class="form-control" th:value="*{xper}">
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">GL Status</label>
							<input type="text" class="form-control" th:value="*{xstatusjv}">
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Prepared By</label>
							<input type="text" class="form-control" th:value="${acheader.xstaff + ' - ' + acheader.staffName}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/FA15?xvoucher=RESET' , data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${acheader.xvoucher ne null}" th:attr="data-url=@{/FA15?xvoucher=} + ${acheader.xvoucher}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${acheader.xvoucher ne null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${acheader.xvoucher eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

		})
	</script>
</div>
