<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/AD22/store}" th:object="${termsdef}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xtype}" th:if="${termsdef.submitFor eq T(com.zayaanit.enums.SubmitFor).UPDATE}"/>
				<input type="hidden" th:field="*{xterm}" th:if="${termsdef.submitFor eq T(com.zayaanit.enums.SubmitFor).UPDATE}"/>

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Type</label>
							<select class="form-control select" 
							th:field="*{xtype}" 
							required="required"
							th:disabled="${termsdef.submitFor eq T(com.zayaanit.enums.SubmitFor).UPDATE}"
							>
								<option value="">-- Select --</option>
								<option value="SQT Terms">SQT Terms</option>
								<option value="WO Terms">WO Terms</option>
							</select>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Terms Title</label>
							<input type="text" class="form-control" th:field="*{xterm}" required="required" th:disabled="${termsdef.submitFor eq T(com.zayaanit.enums.SubmitFor).UPDATE}">
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Terms Detail</label>
							<textarea rows="1" cols="" class="form-control" th:field="*{xdesc}" required="required"></textarea>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Additional Info</label>
							<textarea rows="1" cols="" class="form-control" th:field="*{xnote}" required="required"></textarea>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">View Sequence</label>
							<input type="number" class="form-control" th:field="*{xserial}" required="required">
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="zactive">Is Active?</label>
							<input type="checkbox" id="zactive" th:field="*{zactive}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/AD22?xtype=RESET&xterm=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${not #strings.isEmpty(termsdef.xtype) and not #strings.isEmpty(termsdef.xterm)}" th:attr="data-url=@{/AD22?xtype=} + ${termsdef.xtype} + '&xterm=' + ${termsdef.xterm}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${not #strings.isEmpty(termsdef.xtype) and not #strings.isEmpty(termsdef.xterm)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${#strings.isEmpty(termsdef.xtype) and #strings.isEmpty(termsdef.xterm)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" th:if="${not #lists.isEmpty(termsdefList)}">
			<h6 class="py-sm-3 mb-sm-auto">List of Default Terms</h6>
			<div class="table-responsive">
				<table class="table datatable">
					<thead>
						<tr>
							<th>Type</th>
							<th>Terms</th>
							<th>Terms Detail</th>
							<th>Additional Info</th>
							<th>View Sequence</th>
							<th>Is Active?</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${termsdefList}">
							<td th:text="${x.xtype}"></td>
							<td>
								<a 
									th:href="@{/AD22?xtype=} + ${x.xtype} + '&xterm=' + ${x.xterm}" class="btn-edit" th:text="${x.xterm}"
									th:attr="data-reloadurl='/AD22?xtype='+ ${x.xtype} +'&xterm=' + ${x.xterm}, data-reloadid='main-form-container'"
								></a>
							</td>
							<td th:text="${x.xdesc}"></td>
							<td th:text="${x.xnote}"></td>
							<td th:text="${x.xserial}"></td>
							<td th:text="${x.zactive? 'Y' : 'N'}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('table.datatable').each(function (tindex, table) {
				var noSortColumns = [];
				$(table).find('th[data-nosort="Y"]').each(function(i, col){
					noSortColumns.push($(col).index());
				});

				var datatable = $(table).DataTable({
					"columnDefs": [{
						"targets": noSortColumns,
						"orderable": false
					}],
					"responsive": true,
					"aaSorting": []
				});

				if(datatable){
					datatable.rows().every(function(index, element) {
						var row = $(this.node());

						// Edit button
						$(row).find('a.btn-edit').off('click').on('click', function(e){
							e.preventDefault();
							var url = $(this).attr('href');

							sectionReloadAjaxReq({
								id : $(this).data('reloadid'),
								url : $(this).data('reloadurl')
							});

						});

					});
				}
			});

		})
	</script>
</div>