<!-- Inner content -->
<div class="content-inner" xmlns:th="http://www.thymeleaf.org">

	<!-- Page header -->
	<div class="page-header page-header-light shadow" th:if="${not #strings.isEmpty(pageTitle)}">
		<div class="page-header-content d-lg-flex">
			<div class="d-flex">
				<h4 class="page-title mb-0" th:text="${pageTitle}">Header Title</h4>
			</div>
		</div>
	</div>
	<!-- /page header -->

	<!-- Content area -->
	<div class="content">

		<div class="row">
			<div class="col-xl-12">
				<div class="main-form-container">
					<div th:remove="tag" th:include="pages/AD17/AD17-fragments :: main-form"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12">
				<div class="list-table-container">
					<div th:remove="tag" th:include="pages/AD17/AD17-fragments :: list-table"></div>
				</div>
			</div>
		</div>

	</div>
	<!-- /content area -->

	<!-- Footer -->
	<div th:remove="tag" th:include="commons :: footer-section"></div>
	<!-- /footer -->

</div>
<!-- /inner content -->