<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:if="${opdoheader.xdornum ne null}" class="card-header d-sm-flex align-items-sm-center p-0">
			<button th:if="${opdoheader.xdornum  ne null and opdoheader.xstatus eq 'Confirmed' and opdoheader.xstatusim eq 'Confirmed'}" th:attr="data-url=@{/AD17/confirm?xdornum=} + ${opdoheader.xdornum}" type="button" class="btn btn-primary btn-sm btn-confirm my-2 ms-3"><i class="ph-check me-2"></i> Confirm</button>
		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/AD17/store}" th:object="${opdoheader}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xscreen}"/>
				<input type="hidden" th:if="${opdoheader.xdornum ne null}" th:field="*{xdornum}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Invoice No.</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xdornum"
										th:value="${opdoheader.xdornum ne null ? opdoheader.xdornum : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LSO17/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xdornum',
										data-mainscreen=true,
										data-mainreloadurl='/AD17?xdornum=',
										data-mainreloadid='main-form-container',
										data-detailreloadurl='/AD17/detail-table?xrow=RESET&xdornum=',
										data-detailreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Invoice Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="xdate" 
										id="xdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required="required"
										disabled="disabled"
										th:value="${opdoheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Type</label>
							<input type="text" class="form-control" th:field="*{xitemtype}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${opdoheader.xdornum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Customer</label>
							<input type="hidden" class="form-control" th:field="*{xcus}">
							<input type="text" class="form-control" th:value="${opdoheader.xcus eq null ? '' : opdoheader.xcus + ' - ' + opdoheader.customer}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">DD Comission (%)</label>
							<input type="number" class="form-control numeric-only" th:field="*{xdiscp}" min="0" max="100">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Special Discount (%)</label>
							<input type="number" class="form-control numeric-only" th:field="*{xdiscp1}" min="0" max="100">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Additional Discount (%)</label>
							<input type="number" class="form-control numeric-only" th:field="*{xdiscp2}" min="0" max="100">
						</div>
					</div>
					<div class="col-md-3" th:if="${opdoheader.xdornum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Total Amount</label>
							<input type="number" class="form-control" th:field="*{xtotamt}" min="0" step="1" disabled="disabled">
						</div>
					</div>
					
					<div class="col-md-3" th:if="${opdoheader.xwh ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Store</label>
							<input type="hidden" class="form-control" th:field="*{xwh}">
							<input type="text" class="form-control" th:value="${opdoheader.xwh eq null ? '' : opdoheader.xwh + ' - ' + opdoheader.store}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Reference</label>
							<input type="text" class="form-control" th:field="*{xref}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${opdoheader.xdornum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Sub Total</label>
							<input type="number" class="form-control" th:field="*{xlineamt}" min="0" step="1" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Invoice Type</label>
							<input type="text" class="form-control" th:value="${opdoheader.xtype}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Status</label>
							<input type="text" class="form-control" th:value="${opdoheader.xstatus}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Inventory Status</label>
							<input type="text" class="form-control" th:value="${opdoheader.xstatusim}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">AR Status</label>
							<input type="text" class="form-control" th:value="${opdoheader.xstatusar}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${opdoheader.xdornum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Order Number</label>
							<input type="text" class="form-control" th:field="*{xordernum}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${opdoheader.xdornum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Requisition Number</label>
							<input type="text" class="form-control" th:field="*{xdoreqnum}" disabled="disabled">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/AD17?xdornum=RESET', data-reloadid='main-form-container', data-detailreloadurl='/AD17/detail-table?xdornum=RESET&xrow=RESET', data-detailreloadid='detail-table-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${opdoheader.xdornum ne null and opdoheader.xstatus eq 'Confirmed' and opdoheader.xstatusim eq 'Confirmed'}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" th:if="${opdoheader.xdornum ne null}">
			<h6 class="py-sm-3 mb-sm-auto">Documents</h6>
			<form id="documentform" class="form-validate-jquery mb-3" th:action="@{/AD21/upload}" method="POST" enctype="multipart/form-data" th:if="${opdoheader.xdornum ne null and opdoheader.xstatus eq 'Confirmed'}">
				<input type="hidden" name="screenId" value="SO17"/>
				<input type="hidden" name="transactionId" th:value="${opdoheader.xdornum}"/>
				<input type="hidden" name="mainreloadid" value="main-form-container"/>
				<input type="hidden" name="mainreloadurl" value="/AD17?xdornum="/>
				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Title</label>
							<input type="text" class="form-control" name="title">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Description</label>
							<textarea rows="1" cols="" class="form-control" name="description"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group mb-3">
							<label class="form-label">File</label>
							<input type="file" name="file" id="fileuploader" class="form-control" th:attr="accept=${loggedInZbusiness.xdoctypes}">
							<!-- <div class="form-text text-muted">Accepted: png, jpg. Max file size 2Mb</div> -->
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="submit" class="btn btn-primary btn-sm btn-doc-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>

			<div class="table-responsive" th:if="${not #lists.isEmpty(documents)}">
				<table class="table">
					<thead>
						<tr>
							<th>
								Action
							</th>
							<th>Title</th>
							<th>Description</th>
							<th>File</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${documents}">
							<td>
								<a th:href="@{/AD21/download/} + ${x.xdocid}" class="btn btn-primary btn-sm btn-doc-download" target="_blank"><i class="ph-download-simple"></i></a>
							</td>
							<td th:text="${x.xtitle}"></td>
							<td th:text="${x.xdesc}"></td>
							<td>
								<i class="ph-file-dotted me-3"></i>
								<span th:text="${x.xnameold}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-confirm').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure?")){
					return;
				}
				actionPostRequest($(this).data('url'));
			});

			$('.btn-docupload').off('click').on('click', function(e){
				e.preventDefault();
				$('#docupload').trigger('click');
			});

			$('.btn-doc-submit').off('click').on('click', function(e){
				e.preventDefault();
				
				var files = $('#fileuploader').get(0).files;
				if(files.length == 0){
					showMessage('error', "File selection required");
					return;
				}
	
				submitMainForm(null, $('form#documentform'));
			});

			$('.btn-doc-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}

				var data = {
					'mainreloadid' : $(this).data("mainreloadid"),
					'mainreloadurl' : $(this).data("mainreloadurl")
				}
				deleteRequest($(this).data('url'), data);
			});
		})
	</script>
</div>

<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${opdodetail}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto">Details of Sales Invoice <span th:text="${opdodetail.xdornum}"></span> </h6>
		</div>

		<div class="card-body" th:if="${opdoheader.xstatus eq 'Confirmed' and opdoheader.xstatusim eq 'Confirmed'}">
			<form id="detailform" class="form-validate-jquery" th:action="@{/AD17/detail/store}" th:object="${opdodetail}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xdornum}">
				<input type="hidden" th:field="*{xrow}">
				<input type="hidden" th:field="*{xdocrow}">

				<div class="row">
					<div class="col-md-3" th:if="${opdodetail.xdocrow ne 0}">
						<div class="mb-3 form-group">
							<label class="form-label">Item</label>
							<input type="hidden" class="form-control" th:field="*{xitem}" required="required">
							<input type="text" class="form-control" th:value="*{xitem}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Item Name</label>
							<input type="text" class="form-control" th:field="*{itemName}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Unit</label>
							<input type="text" class="form-control" th:field="*{xunit}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Quantity</label>
							<input type="number" class="form-control numeric-only" th:field="*{xqty}" required="required" min="0" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Default Rate</label>
							<input type="number" class="form-control" th:field="*{xrated}" required="required" min="0">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Discount (%)</label>
							<input type="number" class="form-control numeric-only" th:field="*{xdiscp}" required="required" min="0" max="100">
						</div>
					</div>
					<div class="col-md-3" th:if="${opdodetail.xrow ne 0}">
						<div class="mb-3 form-group">
							<label class="form-label">Rate</label>
							<input type="hidden" class="form-control" th:field="*{xrate}">
							<input type="number" class="form-control" th:value="*{xrate}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${opdodetail.xrow ne 0}">
						<div class="mb-3 form-group">
							<label class="form-label">Line Amount</label>
							<input type="number" class="form-control" th:field="*{xlineamt}" required="required" min="0" disabled="disabled">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/AD17/detail-table?xdornum='+ ${opdodetail.xdornum} +'&xrow=RESET', data-reloadid='detail-table-container'" class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(detailList)}">
			<table class="table">
				<thead>
					<tr>
						<th>Item</th>
						<th>Unit</th>
						<th class="text-end">Ord Qty</th>
						<th class="text-end">Inv Qty</th>
						<th class="text-end">Default Rate</th>
						<th class="text-end">Disc(%)</th>
						<th class="text-end">Rate</th>
						<th class="text-end">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${detailList}">
						<td>
							<a class="detail-dataindex" th:attr="data-reloadid='detail-table-container', data-reloadurl='/AD17/detail-table?xdornum=' + ${x.xdornum} + '&xrow=' + ${x.xrow}" th:href="@{/AD17/detail-table?xdornum=} + ${x.xdornum} + '&xrow=' + ${x.xrow}" th:text="${x.xitem + ' - ' + x.itemName}"></a>
						</td>
						<td th:text="${x.xunit}"></td>
						<td class="text-end" th:text="${x.xqtyord}"></td>
						<td class="text-end" th:text="${x.xqty}"></td>
						<td class="text-end" th:text="${x.xrated}"></td>
						<td class="text-end" th:text="${x.xdiscp}"></td>
						<td class="text-end" th:text="${x.xrate}"></td>
						<td class="text-end" th:text="${x.xlineamt}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="searchResultModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Search Results</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
	
					<div class="modal-body">
						<div class="search-results-container"></div>
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});
		})
	</script>
</div>
