<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:if="${not #strings.isEmpty(arhed.xtrnnum)}" class="card-header d-sm-flex align-items-sm-center p-0">
			<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Applied'}" th:attr="data-url=@{/FA34/confirm?xtrnnum=} + ${arhed.xtrnnum}" type="button" class="btn btn-primary btn-sm btn-confirm my-2 ms-3"><i class="ph-check me-2"></i> Confirm</button>
			<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and (arhed.xstatus eq 'Applied' or arhed.xstatus eq 'Confirmed')}" th:attr="data-url=@{/report/print}, data-param2=${arhed.xtrnnum}, data-rptcode='armr'" type="button" class="btn btn-light btn-sm btn-print my-2 ms-3"><i class="ph-printer me-2"></i> Print</button>
		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/FA34/store}" th:object="${arhed}" method="POST" th:with="df=${'yyyy-MM-dd'}, dft=${'yyyy-MM-dd HH:mm:ss'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${not #strings.isEmpty(arhed.xtrnnum)}" th:field="*{xtrnnum}">
				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Receipt Number</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xtrnnum"
										th:value="${arhed.xtrnnum ne null ? arhed.xtrnnum : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LFA31/2?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xtrnnum',
										data-mainscreen=true,
										data-mainreloadurl='/FA34?xtrnnum=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Collection Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="xdate" 
										id="xdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required="required"
										th:value="${arhed.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(arhed.xdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Customer</label>
							<input type="text" class="form-control" th:value="${arhed.xcus ne null ? arhed.xcus + '-' + arhed.customer : ''}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Receive From</label>
							<input type="text" class="form-control" th:field="*{xorg}" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Billing Address</label>
							<textarea rows="1" cols="" class="form-control" th:field="*{xmadd}" required="required"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Deposit Bank</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xbank"
										th:value="${arhed.xbank != null ? arhed.xbank + ' - ' + arhed.bank : ''}">
								<input 	type="hidden" class="search-val" name="xbank" th:value="*{xbank}" required="required"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD15/1?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xbank',
										data-mainscreen=false,
										data-mainreloadurl='/MD16?xarea=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Receipt Amount</label>
							<input type="text" class="form-control" th:value="${arhed.xprime}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Branch Name</label>
							<input type="text" class="form-control" th:value="${arhed.xbranch}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Deposit Type</label>
							<input type="text" class="form-control" th:value="${arhed.xtypeobj}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Deposit Slip No</label>
							<input type="text" class="form-control" th:value="${arhed.xref}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Employee</label>
							<input type="text" class="form-control" th:value="${arhed.employee}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Status</label>
							<input type="text" class="form-control" th:value="${arhed.xstatus}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Note</label>
							<textarea rows="1" cols="" class="form-control" th:field="${arhed.xnote}" disabled="disabled"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Bank Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="xdateact" 
										id="xdateact" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required="required"
										th:value="${arhed.xdateact == null ? '' : #dates.format(arhed.xdateact, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Reason</label>
							<textarea rows="1" cols="" class="form-control" th:field="${arhed.xreason}" disabled="disabled"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Applied On</label>
							<input type="text" class="form-control" th:value="${arhed.xsubmittime == null ? '' : #dates.format(arhed.xsubmittime, dft)}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Acknowledged On</label>
							<input type="text" class="form-control" th:value="${arhed.xapprovertime == null ? '' : #dates.format(arhed.xapprovertime, dft)}" disabled="disabled">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/FA34?xtrnnum=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Applied'}" th:attr="data-url=@{/FA34?xtrnnum=} + ${arhed.xtrnnum}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-x me-2"></i> Dismiss</button>
						<button th:if="${not #strings.isEmpty(arhed.xtrnnum) and arhed.xstatus eq 'Applied'}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" th:if="${not #lists.isEmpty(documents)}">
			<h6 class="py-sm-3 mb-sm-auto">Documents</h6>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Action</th>
							<th>File</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${documents}">
							<td>
								<a th:href="@{/AD21/download/} + ${x.xdocid}" class="btn btn-primary btn-sm btn-doc-download" target="_blank"><i class="ph-download-simple"></i></a>
							</td>
							<td>
								<i class="ph-file-dotted me-3"></i>
								<span th:text="${x.xnameold}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				kit.ui.init();
			})
		</script>
	</div>

	<div id="searchResultModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Search Results</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">
					<div class="search-results-container"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="dismissModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form id="dismissform">
						<div class="mb-3 form-group">
							<label class="form-label">Reason</label>
							<textarea rows="10" cols="" class="form-control" id="modalxreason" name="modalxreason" required="required"></textarea>
							<span>Max 200 Characters</span>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Back</button>
					<button type="button" class="btn btn-primary modal-btn-confirm" th:attr="data-url=@{/FA34}">Confirm</button>
				</div>

				<script type="text/javascript">
					$(document).ready(function(){
						$('.modal-btn-confirm').off('click').on('click', function(e){
							e.preventDefault();
							if(!$('#dismissform').smkValidate()) return;

							var xreason = $('#modalxreason').val();
							$('#dismissModal').modal('hide');
							var xtrnnum = $('#xtrnnum').val();
							deleteRequest($(this).data('url'), {
								'xtrnnum' : xtrnnum,
								'xreason' : xreason
							});
						});
					})
				</script>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				$('#dismissModal').modal('show');
			});

			$('.btn-confirm').off('click').on('click', function(e){
				e.preventDefault();
				actionPostRequest($(this).data('url'));
			});

			/* $('.btn-search').off('click').on('click', function(e){
				e.preventDefault();
				$('#searchResultModal').modal('show');
				$('.search-results-container').html("");
				
				var searchValue = $(this).siblings('input.searchsuggest2').val();
				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl') + searchValue
				});
			});

			$('.btn-search-n-confirm').off('click').on('click', function(e){
				e.preventDefault();
				var searchValue = $(this).siblings('input.searchsuggest2').val();
				if(searchValue == '') return;
				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl') + searchValue
				});
			}); */
		})
	</script>
</div>