<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-header d-sm-flex align-items-sm-center p-0">
			<button th:if="${acheader.xvoucher ne null}"
				th:attr="data-url=@{/report/print}, data-param2=${acheader.xvoucher}, data-rptcode='voucher'"
				type="button" class="btn btn-light btn-sm btn-print my-2 ms-3">
				<i class="ph-printer me-2"></i> Print
			</button>
		</div>

		<div class="card-body">
			<form 	id="mainform" 
					class="form-validate-jquery"
					th:action="@{/FA16/store}" th:object="${acheader}" method="POST"
					th:with="df=${'yyyy-MM-dd'}">

				<input type="hidden" th:field="*{submitFor}" /> 
				<input type="hidden" th:if="${acheader.xvoucher ne null}" th:field="*{xvoucher}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Voucher</label>
							<div class="input-group">
								<input type="text" class="form-control searchsuggest2"
									name="xvoucher"
									th:value="${acheader.xvoucher ne null ? acheader.xvoucher : ''}"
									disabled="disabled"> <span
									class="input-group-text btn-search"
									th:attr="
										data-reloadurl='/search/table/LFA15/2?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xvoucher',
										data-mainscreen=true,
										data-mainreloadurl='/FA16?xvoucher=',
										data-mainreloadid='main-form-container',
										data-detailreloadurl='/FA16/detail-table?xrow=RESET&xvoucher=',
										data-detailreloadid='detail-table-container'"
									style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Voucher Date</label>
							<div class="input-group">
								<input type="text" name="xdate" id="xdate"
									class="form-control datepicker-date-format"
									placeholder="yyyy-mm-dd format" required="required"
									th:value="${acheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(acheader.xdate, df)}">
								<span class="input-group-text"> <i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Business Unit</label>
							<div class="input-group">
								<input 	type="text" class="form-control searchsuggest2"
										id="xbuid"
										th:value="${acheader.xbuid != null ? acheader.xbuid + ' - ' + acheader.businessUnitName : ''}">
								<input 	type="hidden" class="search-val" name="xbuid" th:value="*{xbuid}" required /> 
								<span 	class="input-group-text btn-search"
										th:attr="
											data-reloadurl='/search/table/LAD17/0?hint=', 
											data-reloadid='search-suggest-results-container', 
											data-fieldid='xbuid',
											data-mainscreen=false"
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear"
										style="cursor: pointer;"><i
										class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Voucher Type</label> <select
								class="form-control select" th:field="*{xvtype}"
								required="required">
								<option value="">-- Select --</option>
								<option value="Journal Voucher">Journal Voucher</option>
								<option th:each="vt : ${voucherTypes}" value="${vt.xcode}"
									th:text="${vt.xcode}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Reference</label> <input type="text"
								class="form-control" th:field="*{xref}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Narration</label>
							<textarea cols="" rows="1" class="form-control" th:field="*{xnote}"></textarea>
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Year</label> <input type="text"
								class="form-control" th:value="*{xyear}" disabled>
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Period</label> <input type="text"
								class="form-control" th:value="*{xper}" disabled>
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">GL Status</label> <input type="text"
								class="form-control" th:value="*{xstatusjv}" disabled>
						</div>
					</div>
					<div class="col-md-3" th:if="${acheader.xvoucher ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Prepared By</label> <input type="text"
								class="form-control"
								th:value="${acheader.xstaff + ' - ' + acheader.staffName}"
								disabled>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset"
							th:attr="data-reloadurl='/FA16?xvoucher=RESET' , data-reloadid='main-form-container', data-detailreloadurl='/FA16/detail-table?xvoucher=RESET&xrow=RESET', data-detailreloadid='detail-table-container'"
							class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button
							th:if="${acheader.xvoucher ne null and acheader.xstatusjv ne 'Posted'}"
							th:attr="data-url=@{/FA16?xvoucher=} + ${acheader.xvoucher}"
							type="button" class="btn btn-danger btn-sm btn-delete">
							<i class="ph-trash me-2"></i> Delete
						</button>
						<button
							th:if="${acheader.xvoucher ne null and acheader.xstatusjv ne 'Posted'}"
							type="submit" class="btn btn-primary btn-sm btn-submit">
							<i class="ph-floppy-disk me-2"></i> Update
						</button>
						<button th:if="${acheader.xvoucher eq null}" type="submit"
							class="btn btn-primary btn-sm btn-submit">
							<i class="ph-floppy-disk me-2"></i> Add
						</button>
					</div>
				</div>
			</form>
		</div>


		<div class="card-footer" th:if="${acheader.xvoucher ne null}">
			<h6 class="py-sm-3 mb-sm-auto">Documents</h6>
			<form id="documentform" class="form-validate-jquery mb-3"
				th:action="@{/AD18/upload}" method="POST"
				enctype="multipart/form-data"
				th:if="${acheader.xvoucher ne null and acheader.xstatusjv ne 'Posted'}">
				<input type="hidden" name="screenId" value="FA16" /> <input
					type="hidden" name="transactionId" th:value="${acheader.xvoucher}" />
				<input type="hidden" name="mainreloadid" value="main-form-container" />
				<input type="hidden" name="mainreloadurl" value="/FA16?xvoucher=" />
				<div class="row">
					<div class="col-md-3">
						<div class="form-group mb-3">
							<label class="form-label">File</label> <input type="file"
								name="file" id="fileuploader" class="form-control"
								th:attr="accept=${loggedInZbusiness.xdoctypes}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="submit"
							class="btn btn-primary btn-sm btn-doc-submit">
							<i class="ph-floppy-disk me-2"></i> Add
						</button>
					</div>
				</div>
			</form>

			<div class="table-responsive"
				th:if="${#lists.isEmpty(documents) and acheader.xstatusjv eq 'Posted'}">
				<p class="text-center text-muted">No document added</p>
			</div>

			<div class="table-responsive"
				th:if="${not #lists.isEmpty(documents)}">
				<table class="table">
					<thead>
						<tr>
							<th>Action</th>
							<th>File</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${documents}">
							<td><a th:href="@{/AD18/download/} + ${x.xdocid}"
								class="btn btn-primary btn-sm btn-doc-download" target="_blank"><i
									class="ph-download-simple"></i></a>
								<button
									th:if="${acheader.xvoucher ne null and acheader.xstatusjv ne 'Posted'}"
									th:attr="
											data-url=@{/AD18/delete/} + ${x.xdocid}, 
											data-mainreloadid='main-form-container',
											data-mainreloadurl='/FA16?xvoucher='"
									type="button" class="btn btn-danger btn-sm btn-doc-delete">
									<i class="ph-trash"></i>
								</button></td>
							<td><i class="ph-file-dotted me-3"></i> <span
								th:text="${x.xnameold}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('.btn-docupload').off('click').on('click', function(e){
				e.preventDefault();
				$('#docupload').trigger('click');
			});

			$('.btn-doc-submit').off('click').on('click', function(e){
				e.preventDefault();

				var files = $('#fileuploader').get(0).files;
				if(files.length == 0){
					showMessage('error', "File selection required");
					return;
				}

				submitMainForm(null, $('form#documentform'));
			});

			$('.btn-doc-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}

				var data = {
					'mainreloadid' : $(this).data("mainreloadid"),
					'mainreloadurl' : $(this).data("mainreloadurl")
				}
				deleteRequest($(this).data('url'), data);
			});

		})
	</script>
</div>




<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${acheader.xvoucher ne null}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto" th:text="${pageTitle + ' Details'}">Voucher
				Details</h6>
		</div>

		<div class="card-body" th:if="${acheader.xstatusjv ne 'Posted'}">
			<form id="detailform" class="form-validate-jquery"
				th:action="@{/FA16/detail/store}" th:object="${acdetail}"
				method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" name="submitFor" th:value="*{submitFor}" /> <input
					type="hidden" name="xvoucher" th:value="*{xvoucher}"> <input
					type="hidden" name="xrow" th:value="*{xrow}"> <input
					type="hidden" th:if="${acdetail.xrow ne 0}" th:field="*{xacc}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Account</label> <input
								th:if="${acdetail.xrow ne 0}" class="form-control" type="text"
								th:value="${acdetail.xacc ne null ? acdetail.xacc + ' - ' + acdetail.accountName : ''}"
								disabled>
							<div class="input-group" th:if="${acdetail.xrow eq 0}">
								<input type="text" class="form-control searchsuggest2" id="xacc"
									th:value="${acdetail.xacc ne null ? acdetail.xacc + ' - ' + acdetail.accountName : ''}">
								<input type="hidden" class="search-val" name="xacc"
									th:value="*{xacc}" required /> <span
									class="input-group-text btn-search"
									th:attr="
										data-reloadurl='/search/table/LFA13/0?hint=',  
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xsub',
										data-mainscreen=true,
										data-mainreloadurl='/FA16/detail-table?xvoucher='+ ${acdetail.xvoucher} +'&xrow='+ ${acdetail.xrow} +'&xacc=',
										data-mainreloadid='detail-table-container'"
									style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>

					<div class="col-md-3" th:if="${acdetail.xacc ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Sub Account</label>
							<div class="input-group">
								<input type="text" class="form-control searchsuggest2" id="xsub"
									th:value="${acdetail.xsub ne null ? acdetail.xsub + ' - ' + acdetail.subAccountName : ''}">
								<input type="hidden" class="search-val" name="xsub"
									th:value="*{xsub}"
									th:required="${acdetail.accountUsage ne 'Default'}" /> <span
									class="input-group-text btn-search"
									th:attr="
										data-reloadurl='/search/table/LFA14/5?dependentparam='+${acdetail.xacc}+'&hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xsub',
										data-mainscreen=false"
									style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span class="input-group-text btn-search-clear"
									style="cursor: pointer;"><i
									class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Particular</label> <input type="text"
								class="form-control" th:field="*{xnote}">
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Debit</label> <input type="number"
								class="form-control numeric-only" min="0" th:field="*{xdebit}"
								required>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Credit</label> <input type="number"
								class="form-control numeric-only" min="0" th:field="*{xcredit}"
								required>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset"
							th:attr="data-reloadurl='/FA16/detail-table?xvoucher='+ ${acdetail.xvoucher} +'&xrow=RESET', data-reloadid='detail-table-container'"
							class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button th:if="${acdetail.xrow ne 0}"
							th:attr="data-url=@{/FA16/detail-table?xvoucher=} + ${acdetail.xvoucher} + '&xrow=' + ${acdetail.xrow}"
							type="button" class="btn btn-danger btn-sm btn-detail-delete">
							<i class="ph-trash me-2"></i> Delete
						</button>
						<button th:if="${acdetail.xrow ne 0}" type="submit"
							class="btn btn-primary btn-sm btn-detail-submit">
							<i class="ph-floppy-disk me-2"></i> Update
						</button>
						<button th:if="${acdetail.xrow eq 0}" type="submit"
							class="btn btn-primary btn-sm btn-detail-submit">
							<i class="ph-plus me-2"></i> Add New
						</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive"
			th:if="${not #lists.isEmpty(detailList)}">
			<table class="table">
				<thead>
					<tr>
						<th>Account</th>
						<th>Sub Account</th>
						<th>Particular</th>
						<th>Debit</th>
						<th>Credit</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${detailList}">
						<td><a class="detail-dataindex"
							th:attr="data-reloadid='detail-table-container', data-reloadurl='/FA16/detail-table?xvoucher=' + ${x.xvoucher} + '&xrow=' + ${x.xrow}"
							th:href="@{/FA16/detail-table?xvoucher=} + ${x.xvoucher} + '&xrow=' + ${x.xrow}"
							th:text="${x.xacc + ' - ' + x.accountName}"></a></td>
						<td
							th:text="${x.xsub != null ? x.xsub + ' - ' + x.subAccountName : ''}"></td>
						<td th:text="${x.xnote}"></td>
						<td th:text="${x.xdebit}"></td>
						<td th:text="${x.xcredit}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>


<tr th:remove="tag" th:fragment="row-actual" xmlns:th="http://www.thymeleaf.org" th:with="df=${'yyyy-MM-dd'}">
	<td th:classappend="${'row-' + t.xrow}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.voucherDate == null ? '' : #dates.format(t.voucherDate, df)}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.businessUnit != null ? t.businessUnit + ' - ' + t.businessUnitName : ''}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.debitAcc ne null ? t.debitAcc + ' - ' + t.debitAccountName : ''}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.debitSubAcc ne null ? t.debitSubAcc + ' - ' + t.debitSubAccountName : ''}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.creditAcc ne null ? t.creditAcc + ' - ' + t.creditAccountName : ''}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.creditSubAcc ne null ? t.creditSubAcc + ' - ' + t.creditSubAccountName : ''}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.amount}"></td>
	<td th:classappend="${'row-' + t.xrow}" th:text="${t.narration}"></td>
	<td th:classappend="${'row-' + t.xrow}" class="text-end">
		<button th:attr="data-reloadurl='/FA16/import/edit?xrow=' + ${t.xrow}, data-xrow=${t.xrow}" type="button" class="btn btn-primary btn-sm btn-row-edit">
			<i class="ph-note-pencil"></i>
		</button>
		<button th:attr="data-url=@{/FA16/import/delete?xrow=} + ${t.xrow}, data-xrow=${t.xrow}" type="button" class="btn btn-danger btn-sm btn-row-delete">
			<i class="ph-trash"></i>
		</button>
	</td>
	<td class="d-none" th:classappend="${'row-edit-' + t.xrow}" colspan="10">
		<div th:classappend="${'row-form-container-' + t.xrow}">
			
		</div>
	</td>
</tr>

<div class="row" th:fragment="debitsubacc-field" xmlns:th="http://www.thymeleaf.org">
	<div class="mb-3 form-group">
		<label class="form-label">Debit Sub Account</label>
		<div class="input-group">
			<input 	type="text" 
					class="form-control searchsuggest2"
					id="debitSubAcc"
					th:value="${t.debitSubAcc ne null ? t.debitSubAcc + ' - ' + t.debitSubAccountName : ''}">
			<input 	type="hidden" class="search-val" name="debitSubAcc" th:value="*{debitSubAcc}"/>
			<span 	class="input-group-text btn-search" 
					th:attr="
					data-reloadurl='/search/table/LFA14/5?dependentparam='+${t.debitAcc}+'&hint=', 
					data-reloadid='search-suggest-results-container', 
					data-fieldid='debitSubAcc',
					data-mainscreen=false" 
					style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
			<span 	class="input-group-text btn-search-clear" 
					style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
		</div>
	</div>
</div>

<div class="row" th:fragment="creditsubacc-field" xmlns:th="http://www.thymeleaf.org">
	<div class="mb-3 form-group">
		<label class="form-label">Credit Sub Account</label>
		<div class="input-group">
			<input 	type="text" 
					class="form-control searchsuggest2"
					id="creditSubAcc"
					th:value="${t.creditSubAcc ne null ? t.creditSubAcc + ' - ' + t.creditSubAccountName : ''}">
			<input 	type="hidden" class="search-val" name="creditSubAcc" th:value="*{creditSubAcc}"/>
			<span 	class="input-group-text btn-search" 
					th:attr="
					data-reloadurl='/search/table/LFA14/5?dependentparam='+${t.creditAcc}+'&hint=', 
					data-reloadid='search-suggest-results-container', 
					data-fieldid='creditSubAcc',
					data-mainscreen=false" 
					style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
			<span 	class="input-group-text btn-search-clear" 
					style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
		</div>
	</div>
</div>

<div th:fragment="row-edit-form" xmlns:th="http://www.thymeleaf.org" class="bg-primary bg-opacity-25 p-3 border rounded">
	<form 	th:attr="id='row-form-' + ${t.xrow}" 
			class="form-validate-jquery"
			th:action="@{/FA16/import/update}" th:object="${t}" method="POST"
			th:with="df=${'yyyy-MM-dd'}">

		<input type="hidden" th:field="*{xrow}"/>

		<div class="row">
			<div class="col-md-3">
				<div class="mb-3 form-group">
					<label class="form-label required">Voucher Date</label>
					<div class="input-group">
						<input type="text" name="voucherDate" class="form-control datepicker-date-format" placeholder="yyyy-mm-dd format" required="required" th:value="${t.voucherDate == null ? '' : #dates.format(t.voucherDate, df)}">
						<span class="input-group-text"> <i class="ph-calendar"></i></span>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="mb-3 form-group">
					<label class="form-label required">Business Unit</label>
					<div class="input-group">
						<input 	type="text" 
								class="form-control searchsuggest2"
								id="businessUnit"
								th:value="${t.businessUnit != null ? t.businessUnit + ' - ' + t.businessUnitName : ''}">
						<input 	type="hidden" class="search-val" name="businessUnit" th:value="*{businessUnit}" required /> 
						<span 	class="input-group-text btn-search"
								th:attr="
								data-reloadurl='/search/table/LAD17/0?hint=', 
								data-reloadid='search-suggest-results-container', 
								data-fieldid='businessUnit',
								data-mainscreen=false"
								style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
						<span 	class="input-group-text btn-search-clear"
								style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="mb-3 form-group">
					<label class="form-label required">Debit Account</label>
					<div class="input-group">
						<input 	type="text" 
								class="form-control searchsuggest2"
								id="debitAcc"
								th:value="${t.debitAcc ne null ? t.debitAcc + ' - ' + t.debitAccountName : ''}">
						<input 	type="hidden" class="search-val" name="debitAcc" th:value="*{debitAcc}" required/>
						<span 	class="input-group-text btn-search" 
								th:attr="
								data-reloadurl='/search/table/LFA13/0?hint=',  
								data-reloadid='search-suggest-results-container', 
								data-fieldid='debitAcc',
								data-mainscreen=true,
								data-mainreloadurl='/FA16/subaccount/debit?xrow='+ ${t.xrow} +'&xacc=',
								data-mainreloadid='debitsubacc-field-container'" 
								style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
						<span 	class="input-group-text btn-search-clear"
								style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="debitsubacc-field-container">
					<div th:remove="tag" th:include="pages/FA16/FA16-fragments :: debitsubacc-field"></div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="mb-3 form-group">
					<label class="form-label required">Credit Account</label>
					<div class="input-group">
						<input 	type="text" 
								class="form-control searchsuggest2"
								id="creditAcc"
								th:value="${t.creditAcc ne null ? t.creditAcc + ' - ' + t.creditAccountName : ''}">
						<input 	type="hidden" class="search-val" name="creditAcc" th:value="*{creditAcc}" required/>
						<span 	class="input-group-text btn-search" 
								th:attr="
								data-reloadurl='/search/table/LFA13/0?hint=',  
								data-reloadid='search-suggest-results-container', 
								data-fieldid='creditAcc',
								data-mainscreen=true,
								data-mainreloadurl='/FA16/subaccount/credit?xrow='+ ${t.xrow} +'&xacc=',
								data-mainreloadid='creditsubacc-field-container'" 
								style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
						<span 	class="input-group-text btn-search-clear"
								style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="creditsubacc-field-container">
					<div th:remove="tag" th:include="pages/FA16/FA16-fragments :: creditsubacc-field"></div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="mb-3 form-group">
					<label class="form-label required">Amount</label>
					<input type="number" class="form-control numeric-only" min="0" th:field="*{amount}" required>
				</div>
			</div>

			<div class="col-md-3">
				<div class="mb-3 form-group">
					<label class="form-label">Narration</label>
					<textarea cols="" rows="1" class="form-control" th:field="*{narration}"></textarea>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-between align-items-center">
			<div>
				<button type="reset" class="btn btn-light btn-sm btn-edit-form-cancel" th:attr="data-xrow=${t.xrow}">Cancel</button>
			</div>
			<div>
				<button type="submit" class="btn btn-primary btn-sm btn-edit-form-submit" th:attr="data-xrow=${t.xrow}"><i class="ph-floppy-disk me-2"></i> Update</button>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-edit-form-cancel').off('click').on('click', function(e){
				e.preventDefault();

				var rowId = $(this).data('xrow');

				$('.row-form-container-' + rowId).html("");
				$('.row-' + rowId).removeClass('d-none');
				$('.row-edit-' + rowId).addClass('d-none');
				enableBtn(['btn-row-edit', 'btn-row-delete']);
			})

			$('.btn-edit-form-submit').off('click').on('click', function(e){
				e.preventDefault();
				var rowId = $(this).data('xrow');
				submitMainForm(null, $('#row-form-' + rowId), null, () => {
					$('.row-form-container-' + rowId).html("");
					$('.row-' + rowId).removeClass('d-none');
					$('.row-edit-' + rowId).addClass('d-none');
					enableBtn(['btn-row-edit', 'btn-row-delete']);
				}, null);
			});

		})
	</script>
</div>



<div th:fragment="import-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-header d-sm-flex justify-content-center align-items-sm-center p-2">
			<input type="hidden" class="fa16ImportToken" th:value="${fa16ImportToken}"/>
			<button class="btn btn-light btn-sm btn-download-template ms-1 mb-1"><i class="ph-download me-2"></i> Download Template</button>
			<button class="btn btn-light btn-sm selection-counter mb-1 d-none"></button>
			<button class="btn btn-primary btn-sm btn-upload-file ms-1 mb-1"><i class="ph-upload me-2"></i> Upload File</button>
			<button class="btn btn-primary btn-sm btn-confirm-upload ms-1 mb-1"><i class="ph-thumbs-up me-2"></i> Confirm Upload</button>
			<button class="btn btn-danger btn-sm btn-delete-all ms-1 mb-1"><i class="ph-trash me-2"></i> Delete All Selected</button>
		</div>

		<div class="card-body">
			<input type="file" id="fileInput" class="d-none" accept=".csv, .xlsx" />
			<div id="progress" class="mt-3" style="display: none;">
				<p class="m-0 mb-1 p-0 text-center text-muted porogress-text"></p>
				<div class="progress">
					<div id="progressBar" class="progress-bar" role="progressbar"
						style="width: 0%;">0%</div>
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" id="select-all-rows"></th>
						<th>Voucher Date</th>
						<th>Business Unit</th>
						<th>Debit Acc</th>
						<th>Debit Sub Acc</th>
						<th>Credit Acc</th>
						<th>Credit Sub Acc</th>
						<th>Amount</th>
						<th>Narration</th>
						<th class="text-end">Action</th>
					</tr>
				</thead>
				<tbody th:with="df=${'yyyy-MM-dd'}">
					<tr th:each="t : ${tempvouchers}" th:attr="data-xrow=${t.xrow}" th:classappend="'row-actual-container-' + ${t.xrow}">
						<div th:remove="tag" th:include="pages/FA16/FA16-fragments :: row-actual"></div>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript">
		function tableBtnEvent(){
			$(document).on('click', '.btn-row-edit', function(e){
				e.preventDefault();

				var rowId = $(this).data('xrow');

				$('.row-' + rowId).addClass('d-none');
				$('.row-edit-' + rowId).removeClass('d-none');
				disableBtn(['btn-row-edit', 'btn-row-delete']);

				sectionReloadAjaxReq({
					id : 'row-form-container-' + rowId,
					url : $(this).data('reloadurl')
				});
			})
		}

		function checkUploadStatus(token){
			if(token == undefined || token == '') return;

			var statusUrl = getBasepath() + '/FA16/progress/status/' + token;

			$.ajax({
				type : 'GET',
				url : statusUrl,
				success : function(data){

					updateProgress(data.progress);

					if(data.isWorkInProgress == false){
						setTimeout(() => {
							hideProgress(true);
							enableBtn(['btn-upload-file', 'btn-confirm-upload', 'btn-download-template', 'btn-delete-all']);

							if(data.allOk == true) {
								showMessage('success', 'Data imported successfully');
							} else {
								showMessage('error', 'Data import failed');
							}
						}, 1000);
						return;
					} 

					// Check status again each second
					setTimeout(() => {
						checkUploadStatus(data.token);
					}, 1000);

				},
				error : function(jqXHR, status, errorThrown){
					if (jqXHR.status === 401) {
						// Session is invalid, reload the url to go back to login page
						location.reload();
					} else {
						showMessage("error", jqXHR.responseJSON.message);
					}
				}
			});
		}


		$(document).ready(function(){
			kit.ui.init();
			
			tableBtnEvent();

			const fa16ImportToken = $('.fa16ImportToken').val();
			if(fa16ImportToken != undefined && fa16ImportToken != null && fa16ImportToken != ''){
				disableBtn(['btn-upload-file', 'btn-confirm-upload', 'btn-download-template', 'btn-delete-all']);
				resetProgressBar();
				showProgress('bg-warning', 'Preparing Data');
				checkUploadStatus(fa16ImportToken);
			}

			$('.btn-download-template').off('click').on('click', function(e){
				e.preventDefault();
				var linkUrl = getBasepath() + '/FA16/download/template';
				window.open(linkUrl, '_blank');
			});

			$('.btn-upload-file').click(function () {
				$('#fileInput').val(null);
				$('#fileInput').click();
			});

			$('#fileInput').change(function () {
				var file = this.files[0];
				if (file) {
					$('.btn-upload-file').attr('disabled', 'true');
					uploadFileInChunks(file);
				}
			});

			function uploadFileInChunks(file) {
				var chunkSize = 10 * 1024; // 100KB per chunk
				var totalChunks = Math.ceil(file.size / chunkSize);
				var currentChunk = 0;

				resetProgressBar();
				showProgress(null, 'Uploading file to server');
				disableBtn(['btn-upload-file', 'btn-confirm-upload', 'btn-download-template', 'btn-delete-all']);

				function uploadNextChunk(initialStart) {
					var start = currentChunk * chunkSize;
					var end = Math.min(start + chunkSize, file.size);
					var chunk = file.slice(start, end);

					var formData = new FormData();
					formData.append('file', chunk);
					formData.append('currentChunk', currentChunk);
					formData.append('totalChunks', totalChunks);
					formData.append('fileName', file.name);
					formData.append('initialStart', initialStart);

					$.ajax({
						url: getBasepath() + '/FA16/upload/chunk',
						type: 'POST',
						data: formData,
						processData: false,
						contentType: false,
						success: function (data) {
							currentChunk++;

							var progress = (currentChunk / totalChunks) * 100;
							updateProgress(progress);

							if (currentChunk < totalChunks) {
								uploadNextChunk("N");
							} else {
								if(data.status == 'SUCCESS'){
									if(data.displayMessage == true) showMessage(data.status.toLowerCase(), data.message);

									updateProgress(progress, 'bg-success');

									setTimeout(() => {
										hideProgress(true);

										if(data.asyncCSVResult){

											if(data.asyncCSVResult.isWorkInProgress == true){

												setTimeout(() => {
													showProgress('bg-warning', 'Preparing Data');
													checkUploadStatus(data.asyncCSVResult.token);
												}, 1000);

											} else {

												setTimeout(() => {
													hideProgress(true);
													enableBtn(['btn-upload-file', 'btn-confirm-upload', 'btn-download-template', 'btn-delete-all']);

													if(data.asyncCSVResult.allOk == true) {
														showMessage('success', 'Data imported successfully');
													} else {
														showMessage('error', 'Data import failed');
													}

												}, 1000);

											}

										} else {
											enableBtn(['btn-upload-file', 'btn-confirm-upload', 'btn-download-template', 'btn-delete-all']);
										}

									}, 1000);

								} else {
									$('#progressBar').addClass('bg-danger');
									enableBtn(['btn-upload-file', 'btn-confirm-upload', 'btn-download-template', 'btn-delete-all']);
									showMessage(data.status.toLowerCase(), data.message);
								}
							}
						},
						error: function (jqXHR, status, errorThrown) {
							loadingMask2.hide();
							if (jqXHR.status === 401) {
								// Session is invalid, reload the url to go back to login page
								location.reload();
							} else {
								showMessage("error", jqXHR.responseJSON.message);
							}
						}
					});
				}

				uploadNextChunk("Y");
			}


		})
	</script>
</div>