<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:if="${not #strings.isEmpty(xorgs.xorg)}" class="card-header d-sm-flex align-items-sm-center py-sm-0">
			
		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/MD17/store}" th:object="${xorgs}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${not #strings.isEmpty(xorgs.xorg)}" th:field="*{xorg}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Org. Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xorg"
										th:value="${xorgs.xorg ne null ? xorgs.xorg : ''}"
										th:disabled="${xorgs.xorg ne null}"
										required="required">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD17/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xorg',
										data-mainscreen=true,
										data-mainreloadurl='/MD17?xorg=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Org. Name</label>
							<input type="text" class="form-control" th:field="*{xname}" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Org. Type</label>
							<select class="form-control select" th:field="*{xtype}" required="required" data-minimum-results-for-search="Infinity">
								<option value="Purchase">Purchase</option>
								<option value="Sale">Sale</option>
								<option value="Inventory">Inventory</option>
							</select>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD17?xorg=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${not #strings.isEmpty(xorgs.xorg)}" th:attr="data-url=@{/MD17?xorg=} + ${xorgs.xorg}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${not #strings.isEmpty(xorgs.xorg)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${#strings.isEmpty(xorgs.xorg)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
		})
	</script>
</div>