<div th:fragment="search-hidden-fields" xmlns:th="http://www.thymeleaf.org">
	<input type="hidden" id="searchValue" th:value="${searchValue}"/>
	<input type="hidden" id="fieldId" th:value="${fieldId}"/>
	<input type="hidden" id="suffix" th:value="${suffix}"/>
	<input type="hidden" id="mainscreen" th:value="${mainscreen}"/>
	<input type="hidden" id="mainreloadurl" th:value="${mainreloadurl}"/>
	<input type="hidden" id="mainreloadid" th:value="${mainreloadid}"/>
	<input type="hidden" id="detailreloadid" th:value="${detailreloadid}"/>
	<input type="hidden" id="detailreloadurl" th:value="${detailreloadurl}"/>
	<input type="hidden" id="additionalreloadid" th:value="${additionalreloadid}"/>
	<input type="hidden" id="additionalreloadurl" th:value="${additionalreloadurl}"/>
	<input type="hidden" id="extrafieldcontroller" th:value="${extrafieldcontroller}"/>
	<input type="hidden" id="dependentParam" th:value="${dependentParam}"/>
	<input type="hidden" id="resetParam" th:value="${resetParam}"/>
</div>

<div th:fragment="LSA11-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Menu Code</th>
						<th>Menu Title</th>
						<th class="text-center">Parent Menu</th>
						<th>Image/Icon</th>
						<th class="text-end">Sequence</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0],
					name : 'xmenu',
					rendername : 'xmenu',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/SA11?xmenu=" data-value="'+ data +'" data-prompt="'+ data + ' - ' + row['xtitle'] +'">' + data + '</a>';
					}
				}, {
					suffix : [0],
					name : 'xtitle',
					rendername: 'xtitle',
				}, {
					suffix : [0],
					class: 'text-center',
					name : 'xpmenu',
					rendername: 'xpmenu',
				}, {
					suffix : [0],
					name : 'xicon',
					rendername: 'xicon',
				}, {
					suffix : [0],
					class: 'text-end',
					name : 'xsequence',
					rendername: 'xsequence',
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LSA11/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);

					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>

<div th:fragment="LSA12-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Screen</th>
						<th>Title</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0],
					name : 'xscreen',
					rendername : 'xscreen',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/SA12?xscreen=" data-value="'+ data +'" data-prompt="'+ data + ' - ' + row['xtitle'] +'">' + data + '</a>';
					}
				}, {
					suffix : [0],
					name : 'xtitle',
					rendername: 'xtitle',
				}, {
					suffix : [0],
					name : 'xtype',
					rendername: 'xtype',
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LSA12/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);

					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>

<div th:fragment="LSA13-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th class="text-center">Menu Code</th>
						<th class="text-center">Screen</th>
						<th>Screen Title</th>
						<th class="text-center">Screen Type</th>
						<th class="text-center">Sequence</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0],
					name : 'xmenu',
					rendername : 'xmenu',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/SA13?xrow=" data-value="'+ row['xrow'] +'" data-prompt="'+ data + ' - ' + row['xscreen'] +'">' + data + '</a>';
					}
				}, {
					suffix : [0],
					name : 'xscreen',
					rendername: 'xscreen',
				}, {
					suffix : [0],
					name : 'xscreentitle',
					rendername: 'xscreentitle',
				}, {
					suffix : [0],
					class: 'text-end',
					name : 'xscreentype',
					rendername: 'xscreentype',
				}, {
					suffix : [0],
					name : 'xsequence',
					rendername: 'xsequence',
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LSA13/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);
					
					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>

<div th:fragment="LAD12-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Profile</th>
						<th>Remarks</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();
			var tableName = $('#tablename').val();

			var columns = [
				{
					suffix : [0],
					name : 'xprofile',
					rendername : 'xprofile',
					render: function(data, type, row, meta) {
						return "<a style='text-decoration: underline; cursor: pointer;' class='dataindex' href='#' data-value='"+data+"' data-prompt='"+ data +"'>" + data + "</a>";
					}
				}, {
					suffix : [0],
					name : 'xnote',
					rendername: 'xnote',
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(Number(suffix))) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(Number(suffix))) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LAD12/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);

					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>


<div th:fragment="LAD13-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>User ID</th>
						<th>Employee</th>
						<th>Is Active?</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0],
					name : 'zemail',
					rendername : 'zemail',
					render: function(data, type, row, meta) {
						return "<a style='text-decoration: underline; cursor: pointer;' class='dataindex' href='#' data-value='"+data+"' data-prompt='"+ data +"'>" + data + "</a>";
					}
				}, {
					suffix : [0],
					name : 'xstaff',
					rendername : 'xstaff',
					render: function(data, type, row, meta) {
						return data != null && data != '' ? data + ' - ' + row['employeeName'] : '';
					}
				}, {
					suffix : [0],
					name : 'zactive',
					rendername: 'zactive',
					render: function(data, type, row, meta) {
						return data == true ? 'Y' : 'N';
					}
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(Number(suffix))) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(Number(suffix))) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LAD13/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);
					
					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>


<div th:fragment="LAD17-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Business Unit</th>
						<th>Name</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0],
					name : 'xbuid',
					rendername : 'xbuid',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/AD17?xbuid=" data-value="'+ data +'" data-prompt="'+ data + ' - ' + row['xname'] +'">' + data + '</a>';
					}
				}, {
					suffix : [0],
					name : 'xname',
					rendername: 'xname',
				}, {
					suffix : [0],
					name : 'xmadd',
					rendername: 'xmadd',
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LAD17/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);
					
					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>



<div th:fragment="LFA12-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Group Code</th>
						<th>Group Name</th>
						<th>Group Type</th>
						<th>Level</th>
						<th>Parent Group</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0],
					name : 'xagcode',
					rendername : 'xagcode',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/LFA12?xagcode=" data-value="'+ data +'" data-prompt="'+ data + '">' + data + '</a>';
					}
				}, {
					suffix : [0],
					name : 'xagname',
					rendername: 'xagname',
				}, {
					suffix : [0],
					name : 'xagtype',
					rendername: 'xagtype',
				} , {
					suffix : [0],
					name : 'xaglevel',
					rendername: 'xaglevel',
				} , {
					suffix : [0],
					name : 'xagparent',
					rendername: 'xagparent',
					render: function(data, type, row, meta) {
						return data == null ? '' : data + ' - ' + row['parentName'];
					}
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LFA12/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);
					
					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>



<div th:fragment="LFA13-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Account Code</th>
						<th>Account Name</th>
						<th>Account Type</th>
						<th>Account Group</th>
						<th>Usage</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0],
					name : 'xacc',
					rendername : 'xacc',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/LFA13?xacc=" data-value="'+ data +'" data-prompt="'+ data + '">' + data + '</a>';
					}
				}, {
					suffix : [0],
					name : 'xdesc',
					rendername: 'xdesc',
				}, {
					suffix : [0],
					name : 'xacctype',
					rendername: 'xacctype',
				} , {
					suffix : [0],
					name : 'xgroup',
					rendername: 'xgroup',
					render: function(data, type, row, meta) {
						return data == null ? '' : data + ' - ' + row['groupName'];
					}
				},  {
					suffix : [0],
					name : 'xaccusage',
					rendername: 'xaccusage',
				}
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'asc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LFA13/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);
					
					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>




<div th:fragment="LFA14-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Type</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0,1],
					name : 'xsub',
					rendername : 'xsub',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/LFA13?xacc=" data-value="'+ data +'" data-prompt="'+ data + ' - ' + row['xname'] + '">' + data + '</a>';
					}
				}, {
					suffix : [0,1],
					name : 'xname',
					rendername: 'xname',
				}, {
					suffix : [0,1],
					name : 'xtype',
					rendername: 'xtype',
				} , {
					suffix : [0,1],
					name : 'xdesc',
					rendername: 'xdesc',
				},
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'desc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LFA14/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);
					
					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>



<div th:fragment="LFA15-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div th:remove="tag" th:include="search-fragments :: search-hidden-fields"></div>

		<div class="table-responsive">
			<table class="table" th:classappend="${tablename}">
				<thead>
					<tr>
						<th>Voucher</th>
						<th>Date</th>
						<th>Business Unit</th>
						<th>Reference</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			kit.ui.init();

			var fieldId = $('#fieldId').val();
			var suffix = $('#suffix').val();
			var mainscreen = $('#mainscreen').val();
			var mainreloadurl = $('#mainreloadurl').val();
			var mainreloadid = $('#mainreloadid').val();
			var detailreloadurl = $('#detailreloadurl').val();
			var detailreloadid = $('#detailreloadid').val();
			var additionalreloadurl = $('#additionalreloadurl').val();
			var additionalreloadid = $('#additionalreloadid').val();
			var extrafieldcontroller = $('#extrafieldcontroller').val();
			var dependentParam = $('#dependentParam').val();
			var resetParam = $('#resetParam').val();

			var columns = [
				{
					suffix : [0,1,2,3],
					name : 'xvoucher',
					rendername : 'xvoucher',
					render: function(data, type, row, meta) {
						return '<a style="text-decoration: underline; cursor: pointer;" class="dataindex" reloadid="main-form-container" href="/LFA15?xvoucher=" data-value="'+ data +'" data-prompt="'+ data + '">' + data + '</a>';
					}
				}, {
					suffix : [0,1,2,3],
					name : 'xdate',
					rendername: 'xdate',
				}, {
					suffix : [0,1,2,3],
					name : 'xbuid',
					rendername: 'xbuid',
					render: function(data, type, row, meta) {
						return data + ' - ' + row['businessUnitName'];
					}
				} , {
					suffix : [0,1,2,3],
					name : 'xref',
					rendername: 'xref',
				}, {
					suffix : [0,1,2,3],
					name : 'xtype',
					rendername: 'xtype',
				},
			];

			var columnDefs = [];
			var targetCounter = 0;
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					columnDefs.push({
						name : el.name,
						targets : targetCounter++,
					});
				} 
			});

			var dataRetreiver = [];
			$.each(columns, function(index, el){
				if(el.suffix.includes(0)) {
					dataRetreiver.push({
						data : el.rendername,
						render : el.render,
						class : el.class
					});
				} 
			});

			var tablename = /*[[${tablename}]]*/;
			var dt = $('.' + tablename).DataTable({
				"deferLoading": true,
				"processing" : true,
				"serverSide" : true,
				"order" : [0, 'desc'],
				"columnDefs": columnDefs,
				"ajax" : getBasepath() + "/search/LFA15/" + suffix  + '?dependentParam=' + (dependentParam == undefined ? '' : dependentParam),
				"columns": dataRetreiver,
				"search": {
					"search": $("#searchValue").val()
				}
			});

			//make ajax to call server
			dt.draw();

			$('.' + tablename).on('click', 'a.dataindex', function(e){
				e.preventDefault();

				if(mainscreen == 'true'){
					$('#searchSuggestTableModal').modal('hide');

					var value = $(this).data('value');

					sectionReloadAjaxReq({
						id : mainreloadid,
						url : mainreloadurl + value
					});

					if(detailreloadid){
						sectionReloadAjaxReq({
							id : detailreloadid,
							url : detailreloadurl + value
						});
					}

					if(additionalreloadid){
						sectionReloadAjaxReq({
							id : additionalreloadid,
							url : additionalreloadurl + value
						});
					}
				} else {
					var prompt = $(this).data('prompt');
					var value = $(this).data('value');

					$('#searchSuggestTableModal').modal('hide');

					$('input[name="'+ fieldId +'"]').val(value);
					$('#' + fieldId).val(prompt);
					
					if(resetParam != undefined && resetParam != ''){
						var resetFields = resetParam.split(',');
						$.each(resetFields, function(i, j){
							if(j != undefined && j != '') {
								$('#' + j).val("");
								$('input[name="'+ j +'"]').val("");
							}
						});
					}
				}
			})
		})
	</script>
</div>
