<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/AD13/store}" th:object="${xusers}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${not #strings.isEmpty(xusers.zemail)}" th:field="*{zemail}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">User ID</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="zemail"
										th:value="${xusers.zemail != null ? xusers.zemail : ''}"
										th:disabled="${xusers.zemail != null}"
										th:required="${xusers.zemail == null}">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LAD13/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='zemail',
										data-mainscreen=true,
										data-mainreloadurl='/AD13?zemail=',
										data-mainreloadid='main-form-container',
										data-detailreloadurl='/AD13/detail-table?xwh=RESET&zemail=',
										data-detailreloadid='detail-table-container'"
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${#strings.isEmpty(xusers.zemail)}">
						<div class="mb-3 form-group">
							<label class="form-label">Password</label>
							<input type="password" class="form-control" th:field="*{xpassword}" required="required">
						</div>
					</div>
					<div class="col-md-3" th:if="${not #strings.isEmpty(xusers.zemail)}">
						<div class="mb-3 form-group">
							<label class="form-label">Password</label>
							<input type="password" class="form-control" th:field="*{xpassword}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Employee</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xstaff"
										th:value="${xusers.xstaff != null ? xusers.xstaff + ' - ' + xusers.employee : ''}">
								<input 	type="hidden" class="search-val" name="xstaff" th:value="*{xstaff}"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD12/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xstaff',
										data-mainscreen=false,
										data-mainreloadurl='/MD12?xstaff=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Profile</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xprofile"
										th:value="${xusers.xprofile != null ? xusers.xprofile : ''}">
								<input 	type="hidden" class="search-val" name="xprofile" th:value="*{xprofile}"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LAD12/0?hint=',
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xprofile',
										data-mainscreen=false,
										data-mainreloadurl='/AD12?xprofile=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Purchaing Org.</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xorgpo"
										th:value="${xusers.xorgpo != null ? xusers.xorgpo + ' - ' + xusers.purOrg : ''}">
								<input 	type="hidden" class="search-val" name="xorgpo" th:value="*{xorgpo}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD17/1?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xorgpo',
										data-mainscreen=false,
										data-mainreloadurl='/MD17?xorg=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Sales Org.</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xorgop"
										th:value="${xusers.xorgop != null ? xusers.xorgop + ' - ' + xusers.salesOrg : ''}">
								<input 	type="hidden" class="search-val" name="xorgop" th:value="*{xorgop}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD17/2?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xorgop',
										data-mainscreen=false,
										data-mainreloadurl='/MD17?xorg=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Inventory Org.</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xorgim"
										th:value="${xusers.xorgim != null ? xusers.xorgim + ' - ' + xusers.inventoryOrg : ''}">
								<input 	type="hidden" class="search-val" name="xorgim" th:value="*{xorgim}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD17/3?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xorgim',
										data-mainscreen=false,
										data-mainreloadurl='/MD17?xorg=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Sales Area</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xarea"
										th:value="${xusers.xarea != null ? xusers.xarea + ' - ' + xusers.area : ''}">
								<input 	type="hidden" class="search-val" name="xarea" th:value="*{xarea}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD16/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xarea',
										data-mainscreen=false,
										data-mainreloadurl='/MD16?xarea=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Customer Profile (Days)</label>
							<input type="number" class="form-control numeric-only" th:field="*{xcusview}" required="required" min="0" max="365">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="xswbusiness">Allow Switch Business?</label>
							<input type="checkbox" id="xswbusiness" th:field="*{xswbusiness}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="zactive">Is Active?</label>
							<input type="checkbox" id="zactive" th:field="*{zactive}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/AD13?zemail=RESET', data-reloadid='main-form-container',  data-detailreloadurl='/AD13/detail-table?zemail=RESET&xwh=RESET', data-detailreloadid='detail-table-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${not #strings.isEmpty(xusers.zemail)}" th:attr="data-url=@{/AD13?zemail=} + ${xusers.zemail}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${not #strings.isEmpty(xusers.zemail)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${#strings.isEmpty(xusers.zemail)}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

		})
	</script>
</div>



<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${accessDetail}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto">Store Access Details</h6>
		</div>

		<div class="card-body">
			<form id="detailform" class="form-validate-jquery" th:action="@{/AD13/detail/store}" th:object="${accessDetail}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" name="submitFor" th:value="*{submitFor}"/>
				<input type="hidden" name="zemail" th:value="*{zemail}">
				<input type="hidden" name="xwh" th:value="*{xwh}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Store</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xwh"
										th:value="${accessDetail.xwh ne null ? accessDetail.xwh : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD11/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xwh',
										data-mainscreen=true,
										data-mainreloadurl='/AD13/detail-table?zemail='+ ${accessDetail.zemail} +'&xwh=',
										data-mainreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Name</label>
							<input type="text" class="form-control" th:field="*{store}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="xisprime">Is Prime?</label>
							<input type="checkbox" th:field="*{xisprime}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/AD13/detail-table?zemail='+ ${accessDetail.zemail} +'&xwh=RESET', data-reloadid='detail-table-container'" class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button th:if="${accessDetail.submitFor ne T(com.zayaanit.enums.SubmitFor).INSERT}" th:attr="data-url=@{/AD13/detail-table?zemail=} + ${accessDetail.zemail} + '&xwh=' + ${accessDetail.xwh}" type="button" class="btn btn-danger btn-sm btn-detail-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${accessDetail.submitFor ne T(com.zayaanit.enums.SubmitFor).INSERT}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${accessDetail.submitFor eq T(com.zayaanit.enums.SubmitFor).INSERT}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(detailList)}">
			<table class="table">
				<thead>
					<tr>
						<th>Store</th>
						<th>Is Prime?</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${detailList}">
						<td>
							<a class="detail-dataindex" th:attr="data-reloadid='detail-table-container', data-reloadurl='/AD13/detail-table?zemail=' + ${x.zemail} + '&xwh=' + ${x.xwh}" th:href="@{/AD13/detail-table?zemail=} + ${x.zemail} + '&xwh=' + ${x.xwh}" th:text="${x.xwh + ' - ' + x.store}"></a>
						</td>
						<td th:text="${x.xisprime ne null and x.xisprime eq true ? 'Y' : 'N'}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>