<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">

		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Section</th>
							<th>ID</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Money Receipt</td>
							<form id="mr-form" th:action="@{/AD16/store/mr}" method="POST">
								<td>
									<input type="text" class="form-control" name="code"/>
								</td>
								<td class="text-center">
									<button type="submit" class="btn btn-sm btn-primary btn-mr-submit">Send SMS</button>
								</td>
							</form>
						</tr>
						<tr>
							<td>Customer Adjustment</td>
							<form id="ca-form" th:action="@{/AD16/store/ca}" method="POST">
								<td>
									<input type="text" class="form-control" name="code"/>
								</td>
								<td class="text-center">
									<button type="submit" class="btn btn-sm btn-primary btn-ca-submit">Send SMS</button>
								</td>
							</form>
						</tr>
						<tr>
							<td>Sales Invoice</td>
							<form id="si-form" th:action="@{/AD16/store/si}" method="POST">
								<td>
									<input type="text" class="form-control" name="code"/>
								</td>
								<td class="text-center">
									<button type="submit" class="btn btn-sm btn-primary btn-si-submit">Send SMS</button>
								</td>
							</form>
						</tr>
						<tr>
							<td>Sales Return</td>
							<form id="sr-form" th:action="@{/AD16/store/sr}" method="POST">
								<td>
									<input type="text" class="form-control" name="code"/>
								</td>
								<td class="text-center">
									<button type="submit" class="btn btn-sm btn-primary btn-sr-submit">Send SMS</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-mr-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm($("#mr-form").attr('action'), $("#mr-form"));
			});

			$('.btn-ca-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm($("#ca-form").attr('action'), $("#ca-form"));
			});

			$('.btn-si-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm($("#si-form").attr('action'), $("#si-form"));
			});

			$('.btn-sr-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm($("#sr-form").attr('action'), $("#sr-form"));
			});

		})
	</script>
</div>

